.temp-h1 {
  font-family: $font__display;
  font-weight: $font__display--light;

  font-size: em($ratio--l);

  line-height: $spacing--xs;
}

.temp-h1__strong {
  // font-family: $font__sans;
  // font-weight: $font__display--book;
}
