// Prepend/append
[class^="o-iconed--"],
[class*=" o-iconed--"] {
  &:before {
    margin-right: em($ratio--xs);
  }
  &:after {
    margin-left: em($ratio--xs);
  }
}

.o-iconed--basic {
  &:before,
  &:after {
    font-size: #{$icon--b}px;
  }
}

.o-iconed--small {
  &:before,
  &:after {
    font-size: #{$icon--xs}px;
  }
}

// Standalone
.o-icon--b {
  &:before, &:after {
    // font-size: #{$icon--b}px;
    font-size: #{$icon--xs}px;
  }
}

.o-icon--m {
  &:before, &:after {
    font-size: #{$icon--m}px;
  }
}

.o-icon--l {
  &:before, &:after {
    font-size: #{$icon--l}px;
  }
}
