.o-dropdown {
  position: relative;

  display: inline-block;
}

.o-dropdown__toggle {
  // Reset
  outline: none;
  border: none;
  background-color: transparent;
  padding: em($ratio--xxs) 0;
  // padding: 0;
  // cursor: default;

  letter-spacing: em($ratio--t);

  color: $color-2--light;

  transition: color $duration--b;

  .o-dropdown:hover & {
    color: $color-2--lighter;
  }
}

.o-dropdown__content {
  @include position(absolute, 100% -100% null -100%);

  text-align: center;

  font-size: em($unit--s);

  z-index: $index--m;

  opacity: 0;
  transform: translateY(em($ratio--b));

  transition: opacity $duration--b, transform $duration--b;

  .o-dropdown:hover & {
    opacity: 1;
    transform: translateY(0);
  }

  &:before {
    content: "";
    display: block;

    @include margin(null auto);

    @include triangle(em($ratio--s), rgba($grey-0, $opacity--b), up);
  }
}

.o-dropdown__list {
  @include padding(null em($ratio--b));
  @include margin(0 null);

  display: inline-block;

  background-color: rgba($grey-0, $opacity--b);
  border-radius: $radius--b;

  list-style: none;

  white-space: nowrap;
}

.o-dropdown__item {
  display: inline-block;

  line-height: em($height--b);
  @include padding(null em($ratio--xxs));

  letter-spacing: em($ratio--t);
}

.o-dropdown__link {
  text-decoration: none;
}

.o-dropdown__selected {
  color: white;
}

// .dropdown--is-on {
//   .o-dropdown__content {
//   }
// }
