.o-logo {
  display: block;

  position: relative;

  @include margin(em($ratio--xl) null null em($ratio--b));

  transform: translateX(em($ratio--l));

  transition: transform $duration--b;

  svg {
    fill: rgba($grey-9, .85);

    width: em(120);

    margin: em($ratio--t);
  }

  .top--is-off & {
    transform: translateX(0);
  }
}

.o-logo__content {
  overflow: hidden;

  width: em(120);
  height: em(60);

  padding: em($ratio--t);

  box-sizing: content-box;

  transition: transform $duration--b, opacity $duration--s;

  .top--is-off & {
    transform: scale(.75);
  }

  @include state--hover {
    opacity: .75;
  }
}

.o-logo__title {
  display: block;
}

.o-logo__tooltip {
  @include position(absolute, 15% null null 75%);


  font-size: em($unit--xs);
  color: white;

  white-space: nowrap;

  opacity: 0;
  transform: translateX(25%);

  transition: opacity $duration--b, transform $duration--b;

  &:before {
    display: inline-block;

    content: "";
    @include triangle(em($ratio--s), rgba($grey-9, $opacity--b), left);
  }
  &:after {
    display: inline-block;
    content: "Back to Top Menu";

    line-height: em($height--b);
    @include padding(null em($ratio--b));

    background-color: rgba($grey-9, $opacity--b);
    border-radius: $radius--b;
  }

  .top--is-off .o-logo:hover & {
    opacity: 1;
    transform: translateX(0);
  }
}
