.o-person {
  position: relative;

  @include span-columns(3);
  @include omega(4n);

  margin-bottom: em($ratio--m);

  @include pseudo-center--parent;

  &:hover {
    cursor: pointer;
  }
}

.o-person__portrait {
  float: left;

  width: em(110);

  margin-right: em($ratio--b);

  background-color: white;
  border-radius: 50%;
}

.o-person__image {
  border-radius: 50%;
  transition: transform $duration--s;

  .o-person:hover & {
    transform: scale(.95);
  }
}

.o-person__name {
  transition: color $duration--s;
  
  .o-person:hover & {
    color: $grey-8;
  }
}


.o-person__position {
  display: block;

  color: $grey-4;

  line-height: $spacing--s;
}

.o-person__info {
  overflow: auto;
}

.o-person__detail {
  visibility: hidden;

  @include position(absolute, 85% -15% null -15%);
  z-index: $index--s;

  opacity: 0;
  transform: translateY(em($ratio--b));

  transition: opacity $duration--b, transform $duration--b, visibility 0 $duration--b;

  &:before {
    display: block;
    @include margin(null auto);

    content: "";
    @include triangle(em($ratio--s), rgba($grey-9, $opacity--b), up);
  }

  .o-person:hover & {
    visibility: visible;
    transition-delay: $duration--l;

    opacity: 1;
    transform: translateY(0);
  }
}


.o-person__content {
  background-color: rgba($grey-8, $opacity--m);
  color: $grey-3;

  padding: em($ratio--b);

  border-radius: $radius--l;

  font-size: em($unit--s);

  strong {
    display: block;
    color: $grey-1;

    margin-top: em($ratio--xxs);

    &:first-child {
      margin-top: 0;
    }
  }
}
