.o-slider {
  @include reset-list;
}

.o-slider__item {
  // position: relative;

  color: white;

  // height: 105vh;
  height: 100%;
}

.o-slider__overlay {
  @include position(absolute, null 0 0 0);
  @include wrap-push;

  z-index: $index--b;

  transition: transform $duration--l, opacity $duration--l;

  .csstransforms.no-touch & {
    opacity: 0;
    transform: translateY(em($ratio--l));
  }
  .csstransforms.no-touch .top--is-off .rsActiveSlide & {
    opacity: 1;
    transform: translateY(0);
  }
  // .rsActiveSlide & {
  // }
}

.o-slider__content {
  p {
    opacity: .75;
  }
  
  &:after {
    // content: "";
    // position: absolute;
    // left: 0;
    // bottom: 0;

    // width: 100%;
    // height: 40vh;

    // z-index: -1;
    // pointer-events: none;

    // @include linear-gradient(to bottom, rgba($grey-7, 0), rgba($grey-7, .875));
    @include overlay-gradient;

    z-index: -1;
  }
}

// .o-slider__image {
//   @include position(absolute, 0 0 0 0);

//   margin: auto;

//   min-width: 100%;
//   min-height: 100%;
// }
