// .o-tweet {
  // outline: 1px solid rgba(white, .25);
  // position: relative;

  // margin-bottom: em($ratio--b);

  // @include span-columns(3);
  // margin-right: 0;
  // @include omega(3n);
// }

// .o-tweet--image {
  // border-radius: $radius--b;
  // overflow: hidden;
// }

.o-tweet--basic {
  border-top: $line--b solid rgba($grey-9, .25);

  padding-top: em($ratio--b);
}

.o-tweet__text {
  font-size: em($unit--m);

  margin-top: 0;

  color: white;

  a {
    text-decoration: none;
    border-bottom: $line--s solid;

    @include state--link {
      color: $grey-1;
      border-color: rgba($grey-1, .25);
    }
    @include state--active {
      color: white;
      border-color: rgba(white, .75);
    }
  }
}
// .o-tweet__note {
//   margin-left: em($ratio--s);
// }

.o-tweet--photo {
  &:after {
    @include overlay-gradient;
  }
}
