mixin awards(modifier)
  section.o-awards(class= modifier ? "o-awards--" + modifier : "" data-inview)
    include ../../images/temp/award-reddot.svg
    include ../../images/temp/award-adesign.svg
    include ../../images/temp/award-beer-1.svg
    include ../../images/temp/award-beer-2.svg
    include ../../images/temp/award-zlatystrednik.svg
    include ../../images/temp/award-germandesign.svg
    include ../../images/temp/award-ida.svg
