mixin sticky(active)
  header#js-headroom.m-sticky
    a.m-sticky__logo.o-logo--small(href="index", data-barba="reload")
      include ../../svg/logo_symbol.svg
      strong.o-logo__text Little Greta

    nav.m-sticky__nav.o-nav
      each instance in pages
        unless active == "index" && instance.anchor == active
          if active == instance.anchor
            mark.o-nav__active= instance.name
          else
            a.o-nav__link(href=instance.anchor, data-barba="reload")= instance.name

    button.m-sticky__toggle(type="button", data-toggle="menu") Menu

    button.m-sticky__close(type="button", data-toggle="menu") &times;
