mixin sticky(active)
  header#js-headroom.m-sticky
    a.m-sticky__logo.o-logo--small(href="index", data-barba="reload")
      include ../../svg/logo_symbol.svg
      strong.o-logo__text Little Greta

    nav.m-sticky__nav
      each instance in pages
        unless active == "index" && instance.anchor == active
          if active == instance.anchor
            mark.m-sticky__item--active= instance.name
          else
            a.m-sticky__item(href=instance.anchor, data-barba="reload")= instance.name

    span.m-sticky__placeholder

    button.m-sticky__button--open(type="button" data-toggle="menu") Menu
    button.m-sticky__button--close(type="button" data-toggle="menu") &times;
