mixin sticky(active)
  header#js-headroom.m-sticky
    a.m-sticky__logo.o-logo--small(href="index", data-barba="reload")
      include ../../svg/logo_symbol.svg
      strong.o-logo__text Little Greta

    nav.m-sticky__nav.o-nav
      each instance in pages
        unless active == "index" && instance.anchor == active
          if active == instance.anchor
            mark.o-nav__active= instance.name
          else
            a.o-nav__link(href=instance.anchor, data-barba="reload")= instance.name

    .m-sticky__dropdown.o-dropdown(data-hover)
      button.o-dropdown__toggle(type="button")
        | EN
        include ../../svg/caret-down.svg
      .m-sticky__content.o-dropdown__content
        ul.o-dropdown__list
          li.o-dropdown__item
            span.o-dropdown__selected EN
          each instance in ["DE", "CZ"]
            li.o-dropdown__item
              a(href="javascript:", data-barba="reload").o-dropdown__link= instance

    button.m-sticky__toggle(type="button", data-toggle="menu") Menu

    button.m-sticky__close(type="button", data-toggle="menu") &times;
