.o-menu {
  position: relative;

  transition: transform $duration--b, margin $duration--b;

  .top--is-moved & {
    transform: translateY(em(-$unit--xxh));
    margin-top: 0;
  }

  .top--is-moved .o-header:hover & {
    transform: translateY(0);
  }

  @include media($phone) {
    margin-top: em($ratio--b);
  }

  @include media($phablet) {
    @include shift(2 of $columns__phablet);
  }

  @include media($tablet) {
    margin-top: em($ratio--s);

    @include shift(2 of $columns__tablet);
  }

  @include media($desktop) {
    margin-top: em($unit--l);

    @include shift(4 of $columns__desktop);
  }
}

.o-menu__table {
  display: table;
  width: 100%;
}

.o-menu__container {
  display: inline-block;

  position: relative;
}

.o-menu__cell {
  display: table-cell;
  vertical-align: middle;

  @include collapse-children;

  &:first-child {
    text-align: left;
  }
  &:last-child {
    text-align: right;
  }
}

.o-menu__toggle {
  background-color: transparent;
  border: none;
  padding: 0;

  line-height: em($height--xs);

  text-transform: uppercase;
  color: $color-1--dark;
  letter-spacing: em($ratio--t);

  &:focus {
    outline: none;
    color: $color-1--darker;
  }

  @include media($large) {
    display: none;
  }
}

.o-menu__dropdown {
  @include media($small) {
    @include position(absolute, 100% -50% null -50%);
    
    text-align: center;

    z-index: $index--m;

    visibility: hidden;
    opacity: 0;
    transform: translateY(em($ratio--b));

    transition: opacity $duration--b, transform $duration--b, visibility 0 $duration--b;

    &:before {
      content: "";
      display: block;

      @include margin(null auto);

      @include triangle(em($ratio--s), rgba($grey-0, $opacity--b), up);
    }
  }

  .o-menu__container:hover & {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);

    transition-delay: 0;
  }
}

.o-menu__list {
  display: inline-block;

  list-style-type: none;
  @include margin(0 null);

  padding-left: 0;
  
  @include media($small) {
    background-color: rgba($grey-0, $opacity--b);
    border-radius: $radius--b;

    @include padding(em($ratio--s) em($ratio--b));
  }
}

.o-menu__item {
  @include media($large) {
    display: inline-block;

    & + & {
      margin-left: em($ratio--m);
    }
  }
  @include media($desktop) {
    & + & {
      margin-left: em($ratio--l);
    }
  }
}

.o-menu__link {
  display: block;

  line-height: em($height--xs);

  @include state--link {
    color: rgba(white, .75);
  }
  @include state--active {
    color: white;
  }

  .top--is-moved & {
    @include state--link {
      color: $grey-4;
    }
    @include state--active {
      color: $grey-1;
    }
  }

  transition: color $duration--b;

  &:hover {
    transition-duration: 0;
  }
}

.o-menu__selected {
  color: white;

  border-bottom: $line--b solid rgba(white, .25);

  transition: color $duration--b, border $duration--b;

  .top--is-moved & {
    color: $grey-1;
    border-bottom-color: $grey-8;
  }
}
