.o-awards {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;

  &--normal {
    margin-top: 2em;
    fill: $grey--600;
  }

  &--inverse {
    fill: white;
  }

  svg {
    margin: .5em;
  }
}
