.o-circle {
  @include media($mobile) {
    width: 3.75em;
  }
  @include media($desktop) {
    width: 5em;
  }

  background-color: white;
  border-radius: 50%;
}

.o-circle__image {
  border-radius: 50%;
}
