.o-circle {
  @include media($mobile) {
    width: em($ratio--xl);
  }
  @include media($desktop) {
    width: em($unit--xxh);
  }

  background-color: white;
  border-radius: 50%;
}

.o-circle__image {
  border-radius: 50%;
}
