.o-context {
  list-style-type: none;
  padding-left: 0;

  color: $grey-3;
}

.o-context__item {
  @include media($phone) {
    line-height: em($height--b);

    .o-exit--dark & {
      border-top-color: $grey-2;
    }

    .o-exit--light & {
      border-top-color: rgba(white, .125);
    }

    & + & {
      border-top-width: $line--s;
      border-top-style: solid;
    }
  }

  @include media($portable) {
    display: inline-block;
  }

  @include media($phablet) {
    & + & {
      margin-left: em($ratio--b);
    }
  }

  @include media($large) {
    & + & {
      margin-left: em($ratio--m);
    }
  }
}

.o-context__link {
  text-decoration: none;
}

.o-context__selected {
  border-bottom-width: $line--b;
  border-bottom-style: solid;

  .o-exit--dark & {
    color: $grey-6;
    border-bottom-color: $grey-2;
  }

  .o-exit--light & {
    color: white;
    border-bottom-color: rgba(white, .25);
  }
}
