[class^="o-cta"],
[class*=" o-cta"] {
  display: inline-block;
  padding: 1em 2.5em;

  font-size: .875em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .125em;
  line-height: $leading--xs;

  border-radius: 1.625em;

  transition: $duration--b;
}

.o-cta--light {
  @include state--link {
    color: $color-1;
    box-shadow: 0 0 0 1px $grey--800;
  }
  @include state--active {
    color: $color-1--lighter;
    box-shadow: 0 2px 4px rgba(0,0,0,.1), 0 4px 8px rgba(0,0,0,.1);
  }
}
