[class^="o-cta"],
[class*=" o-cta"] {
  display: inline-block;

  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .125em;

  padding: 1em 2em;
  line-height: 1;

  border-radius: 1.625em;
  box-shadow: 0 0 0 1px $grey-8;

  transition: box-shadow .25s, color .25s;

  @include media($phone) {
    display: block;

    max-width: em(220);
    @include margin(null auto);

    & + & {
      margin-top: em($ratio--b);
    }
  }
  @include media($portable) {
    & + & {
      margin-left: em($ratio--s);
    }
  }
}

.o-cta--light {
  @include state--link {
    color: $color-1;
  }
  @include state--active {
    color: $color-1--lighter;

    box-shadow: 0 2px 4px rgba(0,0,0,.1), 0 8px 16px rgba(0,0,0,.1);
  }
}
.o-cta--dark {
  @include state--link {
    color: $color-2;
    border-color: $grey-2;
  }
  @include state--active {
    color: $color-3;
    border-color: $grey-3;
  }
}
.o-cta--black {
  @include state--link {
    color: $color-4;
    border-color: $grey-2;
  }
  @include state--active {
    color: $color-3;
    border-color: $grey-3;
  }
}
