.o-description {
  @include new-wrap;
  padding-bottom: 0 !important;

  @include media($large) {
    display: flex;
    justify-content: space-between;
  }

  p, ul {
    margin: 0;
    color: $grey-5;
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid;
  }

  &__section--body {
    flex-basis: 50%;

    @include media($tablet) {
      padding-left: .5em;
    }
    @include media($desktop) {
      padding-left: 1em;
    }
    @include media($widescreen) {
      padding-left: 1.5em;
    }
  }

  &__section--aside {
    @include collapse-children;

    margin-bottom: 1.5em;

    @include media($desktop) {
      font-size: 1.25em;
    }

    ul {
      list-style-type: none;
      padding-left: 0;

    }
  }

  &__block--primary {
    @include media($desktop) {
      font-size: 1.25em;
    }
  }

  &__title {
    font-size: 1em;
    font-weight: $font__sans--regular;
    
    margin-top: 1.5em;
    margin-bottom: .5em;

    @include media($desktop) {
      margin-top: 2.5em;
    }
  }
}

[class^="o-description__block"],
[class*=" o-description__block"] {
  &:first-child > :first-child {
    margin-top: 0;
  }
  &:last-child > :last-child {
    margin-bottom: 0;
  }
}
