[class^="o-dotlist--"],
[class*=" o-dotlist--"] {
  list-style: none;
  padding-left: 0;
  li {
    position: relative;
    padding-left: em($ratio--b);
  }
  li:before {
    position: absolute;
    left: 0;

    content: "\b7\a0";
  }
}

// Inline dotlist.
.o-dotlist--inline {
  @include media($portable) {
    li {
      display: inline-block;
      padding-left: em($ratio--s);
      &:before {
        position: relative;
        margin-right: em($ratio--s);
      }
    }
    li:first-child {
      padding-left: 0;
    }
    li:first-child:before {
      display: none;
    }
  }
}

// Outside bullets.
@include media($portable) {
  .o-dotlist--outside {
    li {
      padding-left: 0;
    }
    li:before {
      left: em(-$ratio--b);
    }
  }
}
