.o-dropdown {
  position: relative;

  color: $color-1;
}

.o-dropdown__toggle {
  /* Reset */
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;

  color: currentColor;
  font-family: inherit;
  line-height: 1;
  letter-spacing: em($ratio--t);
  
  background-color: transparent;

  svg {
    width: 1.25em;
    margin-left: .5em;

    stroke: currentColor;
  }

  .device--is-desktop .o-dropdown:hover &,
  .hover--is-active & {
    color: black;
  }
}

.o-dropdown__content {
  position: absolute;
  top: 100%;
  left: -30%;
  right: -30%;

  text-align: center;

  z-index: $index--m;

  visibility: hidden;
  opacity: 0;
  transform: translateY(.5em);

  transition: opacity $duration--s, transform $duration--s, visibility 0 $duration--s;

  .device--is-desktop .o-dropdown:hover &,
  .hover--is-active & {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);

    transition-delay: 0;
  }

  &:before {
    display: block;
    content: "";

    @include margin(null auto);

    @include triangle(em($ratio--s), rgba($grey-0, $opacity--b), up);
  }
  &:after {
    display: block;

    @include margin(null auto);

    @include triangle(em($ratio--s), rgba($grey-0, $opacity--b), down);
  }
}

.o-dropdown__list {
  @include padding(em($ratio--s) em($ratio--b));
  @include margin(0 null);

  display: inline-block;

  background-color: rgba($grey-0, $opacity--b);
  border-radius: $radius--b;
  backdrop-filter: saturate(180%) blur(20px);

  list-style: none;

  white-space: nowrap;
}

.o-dropdown__item {
  line-height: em($height--xs);

  & > * {
    font-size: em($unit--s);
  }

  @include padding(null em($ratio--xs));

  letter-spacing: em($ratio--t);
}

.o-dropdown__link {
  text-decoration: none;

  @include link--default;
}

.o-dropdown__selected {
  color: white;
}
