.o-dropdown {
  position: relative;

  display: inline-block;
}

.o-dropdown__toggle {
  // Reset
  outline: none;
  border: none;
  background-color: transparent;

  padding: 0;
  line-height: em($height--xs);

  color: $color-2;
  letter-spacing: em($ratio--t);

  transition: color $duration--b;

  .device--is-desktop .o-dropdown:hover &,
  .hover--is-active & {
    color: $color-1--lighter;
  }
}

.o-dropdown__content {
  @include position(absolute, 100% -30% null -30%);

  text-align: center;

  z-index: $index--m;

  visibility: hidden;
  opacity: 0;
  transform: translateY(em($ratio--b));

  transition: opacity $duration--b, transform $duration--b, visibility 0 $duration--b;

  .device--is-desktop .o-dropdown:hover &,
  .hover--is-active & {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);

    transition-delay: 0;
  }

  &:before {
    content: "";
    display: block;

    @include margin(null auto);

    @include triangle(em($ratio--s), rgba($grey-0, $opacity--b), up);
  }
}

.o-dropdown__list {
  @include padding(em($ratio--s) em($ratio--b));
  @include margin(0 null);

  display: inline-block;

  background-color: rgba($grey-0, $opacity--b);
  border-radius: $radius--b;

  list-style: none;

  white-space: nowrap;
}

.o-dropdown__item {
  line-height: em($height--xs);

  & > * {
    font-size: em($unit--s);
  }

  @include padding(null em($ratio--xs));

  letter-spacing: em($ratio--t);
}

.o-dropdown__link {
  text-decoration: none;
}

.o-dropdown__selected {
  color: white;
}
