.o-gallery {
  @include clearfix;
}

.o-gallery__image {
  width: 100%;

  @include media($phone) {
    & + & {
      margin-top: em($ratio--b);
    }
  }

  @include media($phablet) {
    margin-bottom: flex-gutter($columns__portrait);
  }
  @include media($tablet) {
    margin-bottom: flex-gutter($columns__landscape);
  }
  @include media($desktop) {
    margin-bottom: flex-gutter($columns__desktop);
  }
}

.o-gallery__image--big {
  @include media($desktop) {
    width: flex-grid(8, $columns__desktop);
  }
}

.o-gallery__image--medium {
  @include media($tablet) {
    width: 100%;
  }

  @include media($desktop) {
    width: flex-grid(6, $columns__desktop);
  }
}

.o-gallery__image--small {
  @include media($phablet) {
    width: flex-grid(3, $columns__phablet);

    .o-gallery__image--full + &,
    .o-gallery__image--big + &,
    .o-gallery__image--medium + & {
      width: 100%;
    }
  }

  @include media($tablet) {
    width: flex-grid(3, $columns__tablet);
  }

  @include media($desktop) {
    width: flex-grid(4, $columns__desktop);
  }
}
