.o-gallery {
  @include clearfix;
  margin: -.5em;

  @include media("≥desktop") {
    margin: -1em;
  }

  @include media("≥widescreen") {
    margin: -1.5em;
  }

  &__item {
    margin: .5em;
    box-sizing: border-box;

    @include media("≥tablet") {
      float: left;
    }

    @include media("≥desktop") {
      padding: .5em;
    }

    @include media("≥widescreen") {
      padding: 1em;
    }
  }

  &__holder {
    position: relative;
    padding-bottom: 62.5%; /* 16:10 by default */
    background-color: $grey--900;

    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: absolute;
  }
}

@include media("≥tablet") {
  .item--full {
    width: calc(100% - 1em);
  }
  .item--small {
    width: calc(33.333% - 1em);
  }
  .item--medium {
    width: calc(50% - 1em);
  }
}

.holder--small {
  padding-bottom: 75%; /* 4:3 */
}
.holder--full {
  padding-bottom: 56.25%; /* 16:9 */
}
