.o-hero {
  position: relative;

  height: 110vh;
  max-height: em(480);

  @include media($large) {
    max-height: em(960);
  }

  .device--is-desktop & {
    margin-top: 42vh;
  }

  overflow: hidden;

  background-color: $grey-2;
}

.o-hero--slim {
  height: 60vh;
  max-height: em(320);

  @include media($large) {
    max-height: em(640);
  }
}

.o-hero__background {
  @include position(absolute, -50% null null -50%);
  @include size(200%);
}

.o-hero__image {
  @include position(absolute, 0 0 0 0);

  margin: auto;

  min-width: 50%;
  min-height: 50%;

  overflow-x: hidden;
}

.o-hero__overlay {
  // Same as o-slider__overlay, beware
  @include position(absolute, null 0 0 0);
  @include wrap-push;

  z-index: $index--b;

  transition: transform $duration--l, opacity $duration--l;

  .csstransforms .device--is-desktop & {
    opacity: 0;
    transform: translateY(em($ratio--l));
  }
  .csstransforms .device--is-desktop.top--is-off & {
    opacity: 1;
    transform: translateY(0);
  }

  @include media($phone) {
    // Stretch gradient overlay for better legibility and arrow visibility
    padding-top: em($ratio--xl);
  }
}

.o-hero__content {
  @include collapse-children;

  // Same as o-slider__content, except shift(4)

  color: white;

  @include media($large) {
    p {
      opacity: .75;
    }
  }

  @include media($tablet) {
    @include shift(2 of $columns__tablet);
  }

  @include media($desktop) {
    @include shift(4 of $columns__desktop);
  }
  
  &:after {
    content: "";
    @include overlay-gradient;

    z-index: -1;
  }
}
