.o-header {
  @include position(absolute, 0 0 null 0);

  .device--is-desktop & {
    @include media($large) {
      position: fixed;
    }
  }

  transition: background-color $duration--b, padding $duration--b;

  .top--is-moved &:hover {
    background-color: white;
  }

  z-index: $index--xl;

  @include media($phone) {
    text-align: center;
  }

}
