.o-hero {
  @at-root [class^="o-hero--"],
  [class*=" o-hero--"] {
    color: white;

    overflow: hidden;
  }

  &--video &__body {
    padding-bottom: 42.5%;
  }

  &--normal {
    height: 90vmin;
  }

  &--slim {
    height: 60vmin;
  }

  &__body {
    height: 100%;
    position: relative;
  }

  &__image,
  &__poster {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__poster {
    z-index: 50;
    background-color: black;

    transition: opacity $duration--b ease, transform $duration--b ease, visibility 0s $duration--l;

    .Video--is-active & {
      opacity: 0;
      transform: scale(1.1);
      visibility: hidden;
    }
  }

  &__video {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__overlay {
    position: absolute;
    z-index: 100;

    width: 100%;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include cursor-play;

    .device--is-desktop &:after {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      background-color: black;

      will-change: opacity;
      transition: opacity $duration--l;

      opacity: .5;
    }
    .device--is-desktop &:hover:after {
      opacity: 0;
    }

    .Video--is-active & {
      display: none;
    }
  }

  &__play {
    color: $grey--400;
    background-color: white;
    padding: 1.25em 1.75em;
    border-radius: 1.75em;

    font-size: .875em;
    letter-spacing: .125em;
    text-transform: uppercase;
    line-height: 1;

    .device--is-desktop & {
      transition: opacity $duration--l, transform $duration--l $e-out__medium;
      opacity: 0;
      transform: translateY(1em);
    }
    .device--is-desktop .o-hero__overlay:hover & {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    width: 100%;
    height: 100%;
    box-sizing: border-box;
    @include wrap;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__title {
    max-width: 20em;
    margin: 0 auto;

    cursor: default;
    @include title-fluid;
  }
}
