// Text input.
.o-input {
  height: em($height--b);
  padding: 0 em($ratio--m);

  background-color: transparent;

  @include media($large) {
    font-size: em($unit--m);
  }

  border: $line--s solid $grey-3;
  border-radius: em($ratio--m);
  
  @include placeholder {
    color: $grey-4;
  }

  @include state--hover {
    border-color: $grey-4;
  }
  @include state--focus {
    border-color: $grey-5;
    outline: 0;

    color: white;
  }
  // iOS reset.
  -webkit-appearance: none;
  
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 em($ratio--l) $grey-0 inset;
    border-color: $grey-3;
  }
}
