[class^="o-logo--"],
[class*=" o-logo--"] {
  display: inline-block;

  fill: currentColor;
  text-decoration: none;

  svg {
    vertical-align: middle;
  }
}

.o-logo {
  &--small svg {
    width: 1.5em;
  }

  &__text {
    font-size: 1.125em;
    font-weight: $font__sans--bold;
    margin-left: .75em;

    vertical-align: middle;

    .o-logo--normal & {
      font-size: 1.375em;
    }
  }
}
