.o-logo {
  display: inline-block;

  fill: currentColor;
  text-decoration: none;

  svg {
    vertical-align: middle;
  }

  &__text {
    font-size: 1.375em;
    font-weight: $font__sans--bold;
    margin-left: .75em;

    vertical-align: middle;
  }
}
