.o-logo {
  display: block;

  transition: transform $duration--b;

  svg {
    fill: black;

    margin: em($ratio--t);
  }

  @include media($mobile) {
    svg {
      width: em(90);
    }
  }

  @include media($portable) {
    position: absolute;
  }

  @include media($desktop) {
    top: em($unit--b);
    left: 0;

    transform: translate(em($ratio--xl), em($ratio--m));

    svg {
      width: em(120);
    }
  }

  .top--is-moved & {
    transform: translate(0, 0);
  }
}

.o-logo__content {
  overflow: hidden;

  @include margin(null auto);

  @include media($mobile) {
    width: em(90);
    height: em(45);
  }

  @include media($desktop) {
    width: em(120);
    height: em(60);
  }

  padding: em($ratio--t);

  box-sizing: content-box;

  transition: transform $duration--b, opacity $duration--s;

  .top--is-moved & {
    transform: scale(.75);
  }

  @include state--hover {
    opacity: .75;
  }
}

.o-logo__title {
  display: block;
}
