.o-nav {
  text-align: center;
  
  color: $color-1;

  @include media("≥desktop") {
    font-size: 1.125em;
  }

  &__link,
  &__active {
    @include media("<tablet") {
      display: block;
    }

    padding-left: .5em;
    padding-right: .5em;

    margin: .5em;
  }

  &__active {
    color: currentColor;
    background-color: transparent;

    opacity: .5;
  }
}
