.o-news {
  position: relative;

  display: block;
  height: 80vmin;
  overflow: hidden;

  text-align: center;

  &, &:link, &:visited {
    color: white;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include wrap--square;
    box-sizing: border-box;

    &:before {
      content: "";
    }
    &:after {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      background-color: black;

      will-change: opacity;
      transition: opacity $duration--l;
    }

    .image--is-loaded &:after       { opacity: .5; }
    a.image--is-loaded:hover &:after { opacity: .25; }
  }

  &__title {
    @include head--1("bold");

    @include media("≥tablet") {
      letter-spacing: -.0625rem;
    }

    margin: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    max-width: initial;

    object-fit: cover;
  }

  &__hint {
    @include cta("dark");

    .device--is-desktop & {
      opacity: 0;
      transform: translateY(.5em);
    }
    .device--is-desktop .o-news:hover &,
    .device--is-desktop .o-news:active & {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
