.o-outro {
  padding: 1em 3.5em 6em;

  text-align: center;

  &__title {
    @include a-caps(false);
    color: $grey-6;
  }

  &__content {
    background-color: white;
  }

  &__quote {
    display: block;
    color: $color-1;

    margin: 1em auto;
    max-width: 25em;

    font-family: $font__display;
    font-weight: $font__display--book;
    font-size: $font--600;
    font-style: italic;
  }

  &__source {
  }
}

