.o-person {
  margin: 1em .5em;
  flex-basis: 16em;

  display: flex;
  align-items: center;
}

.o-person__portrait {
  margin-right: 1em;
}

.o-person__image {
  border-radius: 50%;
  filter: grayscale(100%);
}

.o-person__name {
  display: block;
  @include a-caps;
}

.o-person__position {
  display: block;

  color: $grey-6;
  font-size: em($unit--s);

  @include media($large) {
    font-size: em($unit--xs);
    line-height: $spacing--s;
  }
}
