.o-person {
  display: flex;
  align-items: center;
}

.o-person__portrait {
  flex-shrink: 0;
  margin-right: 1em;
}

.o-person__image {
  border-radius: 50%;
  filter: grayscale(100%);
}

.o-person__name {
  display: block;
  @include a-caps;
}

.o-person__position {
  display: block;
  margin-top: .25em;

  color: $grey-6;
  font-size: .625em;
  line-height: $spacing--xs;

  @include media("≥tablet") {
    font-size: .75em;
  }
}
