.o-person {
  position: relative;
  margin-bottom: em($ratio--b);
  
  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    cursor: pointer;
  }

  @include media($phablet) {
    @include span-columns(3);
    @include omega(2n);
  }

  @include media($tablet) {
    @include span-columns(3);
    @include omega(3n);
  }

  @include media($desktop) {
    @include span-columns(3);
    @include omega(4n);

    margin-bottom: em($ratio--m);
  }
}

.o-person__portrait {
  display: table-cell;
}

.o-person__circle {
  @include media($mobile) {
    width: em($ratio--xl);
  }
  @include media($desktop) {
    width: em($unit--xxh);
  }

  margin-right: em($ratio--b);

  background-color: white;
  border-radius: 50%;
}

.o-person__image {
  border-radius: 50%;
  transition: transform $duration--s;

  .o-person:hover & {
    transform: scale(.95);
  }
}

.o-person__name {
  display: block;

  transition: color $duration--s;

  .o-person:hover & {
    color: $grey-2;
  }
}

.o-person__position {
  display: block;

  color: $grey-6;

  @include media($large) {
    font-size: em($unit--xs);
    line-height: $spacing--s;
  }
}

.o-person__group {
  .device--is-mobile & {
    margin-right: em($ratio--s);
  }

  .device--is-desktop & {
    @include position(absolute, 0 null null null);

    opacity: 0;

    transition: opacity $duration--b;
  }

  .device--is-desktop .o-person:hover & {
    opacity: 1;
  }

  .o-person--finance & {
    color: $color-1;
  }
  .o-person--sales & {
    color: $color-3;
  }
  .o-person--development & {
    color: $grey-7;
  }
  .o-person--creative & {
    color: $color-2;
  }
}

.o-person__info {
  display: table-cell;
  vertical-align: middle;

  .device--is-desktop & {
    padding-top: em($ratio--s);
  }
}

.o-person__detail {
  @include position(absolute, 85% 0% null 0%);
  z-index: $index--s;

  @include media($desktop) {
    left: -15%;
    right: -15%;
  }

  visibility: hidden;
  opacity: 0;
  transform: translateY(em($ratio--b));

  transition: opacity $duration--b, transform $duration--b, visibility 0 $duration--b;

  &:before {
    display: block;
    @include margin(null auto);

    content: "";
    @include triangle(em($ratio--s), rgba($grey-1, $opacity--m), up);
  }

  .o-person:hover & {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);

    transition-delay: 0;
  }

  .device--is-desktop .o-person:hover & {
    transition-delay: $duration--l;
  }
}


.o-person__content {
  background-color: rgba($grey-1, $opacity--m);
  color: $grey-8;

  padding: em($ratio--b);

  border-radius: $radius--l;

  font-size: em($unit--s);

  strong {
    display: block;
    color: $grey-9;

    margin-top: em($ratio--xxs);

    &:first-child {
      margin-top: 0;
    }
  }
}
