.o-post__content {
  color: white;
}

.o-post__title {
  display: block;
  
  font-size: em($ratio--m);
  font-weight: $font__sans--medium;

  @include media($large) {
    font-size: em($ratio--l);
    font-weight: $font__sans--light;
  }

  margin-bottom: em($ratio--s);
  line-height: $spacing--xs;

  text-decoration: none;

  -webkit-font-smoothing: antialiased;

  @include state--link {
    color: $color-2;
  }
  @include state--hover {
    color: $color-2--lighter;
  }
  .o-post:nth-child(2n) & {
    @include state--link {
      color: $color-1--light;
    }
    @include state--hover {
      color: $color-1--lighter;
    }
  }
  .o-post:nth-child(3n) & {
    @include state--link {
      color: $color-3;
    }
    @include state--hover {
      color: $color-3--lighter;
    }
  }
}

.o-post__underline {
  border-bottom: $line--s solid rgba(white, .25);

  .o-post__title:hover & {
    border-bottom-color: rgba(white, .5);
  }
}

.o-post__source {
  display: block;

  text-align: right;

  @include margin(em($ratio--s) null null);

  a {
    display: none;
  }
}

.o-post--basic {
  border-top: $line--b solid rgba($grey-0, .25);

  padding-top: em($ratio--s);

  @include media($phone) {
    width: 100%;
  }
}

.o-post--quote {
  border-top: $line--b solid rgba($grey-0, .25);

  padding-top: em($ratio--b);
}

.o-post__quote {
  display: block;
  font-size: em($ratio--m);
  font-weight: $font__sans--light;

  color: white;

  padding-left: em($ratio--xxs);

  &:before {
    margin-left: em(-$ratio--xxs);
  }

  &:before,
  &:after {
    color: $color-2;
  }
  .o-post--quote:nth-child(2n) &:before,
  .o-post--quote:nth-child(2n) &:after {
    color: $color-1;
  }
  .o-post--quote:nth-child(3n) &:before,
  .o-post--quote:nth-child(3n) &:after {
    color: $color-3;
  }
}

.o-post--photo {
  &:after {
    content: "";
    @include overlay-gradient;
  }
}

.o-post__player {
  margin-bottom: em($ratio--b);
}
