.o-sizer--column {
  @include media($phablet) {
    width: flex-grid(1, $columns__portrait);
  }
  @include media($tablet) {
    width: flex-grid(1, $columns__landscape);
  }
  @include media($desktop) {
    width: flex-grid(1, $columns__desktop);
  }

  // Fuck this, not going to break neat for just one, err two exceptions
  @include media($tablet) {
    .m-works &,
    .m-blog & {
        width: flex-grid(1, 8);
      }
  }
}
.o-sizer--gutter {
  @include media($phablet) {
    width: flex-gutter($columns__portrait);
  }
  @include media($tablet) {
    width: flex-gutter($columns__landscape);
  }
  @include media($desktop) {
    width: flex-gutter($columns__desktop);
  }

  // Again, fuck this
  @include media($tablet) {
    .m-works &,
    .m-blog & {
      width: flex-gutter(8);
    }
  }
}
