.o-slider {
  @include reset-list;
}

.o-slider__item {
  color: white;
}

.o-slider__overlay {
  @include position(absolute, null 0 0 0);
  @include wrap-push;

  z-index: $index--b;

  transition: transform $duration--l, opacity $duration--l;

  .csstransforms & {
    opacity: 0;
    transform: translateY(em($ratio--l));
  }
  .csstransforms .rsActiveSlide & {
    opacity: 1;
    transform: translateY(0);
  }

  @include media($small) {
    // Stretch gradient overlay for better legibility and arrow visibility
    padding-top: em($ratio--xl);
  }
}

.o-slider__content {
  @include media($large) {
    p {
      opacity: .75;
    }
  }
  
  &:after {
    content: "";
    @include overlay-gradient;

    z-index: -1;
  }
}

.o-slider__button {
  @include media($phone) {
    display: block;

    text-align: center;

    @include margin(null em($ratio--l));
  }
}
