.o-social {
  display: flex;
  justify-content: center;

  list-style-type: none;
  padding-left: 0;
  margin: -.5em;

  @at-root [class^="o-social__link--"],
  [class*=" o-social__link--"] {
    display: block;
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
    box-sizing: content-box;

    margin: .25em;
    padding: .25em;

    &:link, &:visited {
      color: white;
    }
  }

  &__icon {
    fill: currentColor;
  }
}

.o-social__link--fb {
  @include state--active {
    color: $c-facebook;
  }
}
.o-social__link--tw {
  @include state--active {
    color: $c-twitter;
  }
}
.o-social__link--ig {
  @include state--active {
    color: $c-instagram;
  }
}
.o-social__link--vi {
  @include state--active {
    color: $c-vimeo;
  }
}
.o-social__link--tb {
  @include state--active {
    color: $c-tumblr;
  }
}
