.o-social {
  text-align: center;
}

.o-social__list {
  @include reset-list;

  @include media($phone) {
    margin-top: em($ratio--s);
  }
  @include media($portable) {
    display: inline-block;

    vertical-align: middle;

    margin-left: em($ratio--m);
  }
}

[class^="o-social__item--"],
[class*=" o-social__item--"] {
  display: inline-block;

  & + & {
    margin-left: em($ratio--b);
  }
}

.o-social__link--facebook {
  @include state--link {
    color: $c-facebook;
  }
}
.o-social__link--twitter {
  @include state--link {
    color: $c-twitter;
  }
}
.o-social__link--instagram {
  @include state--link {
    color: $c-instagram;
  }
}
.o-social__link--vimeo {
  @include state--link {
    color: $c-vimeo;
  }
}
.o-social__link--tumblr {
  @include state--link {
    color: $c-tumblr;
  }
}

[class^="o-social__link--"],
[class*=" o-social__link--"] {
  text-decoration: none;

  display: block;

  width: em($circle--s);
  height: em($circle--s);

  @include media($large) {
    width: em($circle--b);
    height: em($circle--b);
  }

  overflow: hidden;

  border: $line--s solid $grey-2;

  border-radius: 50%;

  @include state--active {
    color: white;
    border-color: $grey-3;
  }
}

.o-social__icon {
  line-height: em($circle--s);

  @include media($large) {
    line-height: em($circle--b);
  }
}
