[class^="o-submit"],
[class*=" o-submit"] {
  padding: 0 0 0 em($ratio--s);
  line-height: em($height--b);

  background-color: transparent;

  border: none;
  // iOS reset.
  border-radius: 0;

  @include media($large) {
    font-size: em($unit--m);
  }

  @include state--focus {
    outline: 0;
  }
}
