.o-tweet__text {
  margin-top: 0;

  color: white;

  a {
    text-decoration: none;
    border-bottom: $line--s solid;

    pointer-events: all;

    @include state--link {
      color: rgba(white, .85);
      border-color: rgba(white, .25);
    }
    @include state--active {
      color: white;
      border-color: rgba(white, .75);
    }
  }

  .o-tweet--basic & {
    color: rgba(white, .85);
  }

  .o-tweet--photo & {
    // Force maximum of 4 lines
    max-height: em(96);
    overflow-y: hidden;
  }
}

.o-tweet--basic {
  border-top: $line--b solid rgba($grey-0, .25);

  padding-top: em($ratio--b);
}

.o-tweet--photo {
  background-color: $grey-2;
  min-height: em(168);

  overflow-y: hidden;
}
