.o-work {
  display: block;

  text-align: left;
  text-decoration: none;
  @include link--black;

  @include media($small) {
    &:not(:first-child) {
      margin-top: 1em;
    }
  }

  @include media($large) {
    padding: 1em;
  }

  @include media($widescreen) {
    padding: 1em 2em;
  }

  &__holder {
    position: relative;
    padding-bottom: 62.5%;
    background-color: $grey-9;

    overflow: hidden;

    &.image--is-loaded {
      background-color: black;
    }
  }

  &__image {
    position: absolute;

    width: 100%;
    height: 100%;
    object-fit: cover;

    will-change: opacity;
    transition: opacity .25s;

    a.o-work:hover .image--is-loaded & {
      opacity: .75;
    }
  }

  &__info {
    position: relative;
    padding: 1em;

    @include media($large) {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }

    @include media($widescreen) {
      min-height: 4em;

      .portfolio--large & {
        font-size: 1.25em;
      }
    }
  }

  &__name {
    font-weight: $font__sans--regular;

    .device--is-desktop .o-work:hover & {
      display: none;
    }
  }

  &__description {
    margin: 0;

    .device--is-mobile & {
      color: $grey-5;
    }

    .device--is-desktop & {
      display: inline;
    }

    .device--is-desktop .o-work:not(:hover) & {
      visibility: hidden;
    }
  }

  &__hint {
    color: $grey-7;
    background-color: transparent;

    .device--is-desktop & {
      display: inline;
      white-space: nowrap;
    }

    .device--is-desktop .o-work:not(:hover) & {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .o-work:hover & {
      color: $color-1;
    }

    svg {
      stroke: currentColor;
      vertical-align: middle;

      margin-left: .5em;
    }
  }
}
