.o-work {
  display: block;
  overflow: hidden; /* text-ellipsis fix */

  text-align: left;
  text-decoration: none;
  @include link--black;

  @include media("≥phablet", "<tablet") {
    font-size: .875em;
  }

  &__holder {
    position: relative;
    padding-bottom: 62.5%;
    background-color: $grey--900;

    overflow: hidden;

    &.image--is-loaded {
      background-color: black;
    }
  }

  &__image {
    position: absolute;

    width: 100%;
    height: 100%;
    object-fit: cover;

    will-change: opacity;
    transition: opacity $duration--b;

    a[href].o-work:hover .image--is-loaded & {
      opacity: .75;
    }
  }

  &__info {
    position: relative;
    margin: .75em 1em 0;

    @include media("≥phablet") {
      margin-left: 0;
    }

    @include media("≥laptop") {
      .device--is-desktop & {
        height: 3em;
        overflow: hidden;
      }
    }
  }

  &__name {
    display: block;
    font-weight: $font__sans--regular;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @include media("≥laptop") {
      .device--is-desktop .o-work:hover & {
        display: none;
      }
    }
  }

  &__description {
    margin: 0;
    color: $grey--500;

    @include media("≥laptop") {
      .device--is-desktop & {
        color: black;
        display: inline;
      }

      .device--is-desktop .o-work:not(:hover) & {
        visibility: hidden;
        display: block;
        margin-top: -1.5em; /* Overlap name */
      }
    }
  }

  &__hint {
    color: $color-1;
    background-color: transparent;

    .o-work:hover & {
      color: $color-1--lighter;
    }

    @include media("≥laptop") {
      .device--is-desktop & {
        display: inline;
        white-space: nowrap;

        color: $grey--700;
      }
      .device--is-desktop .o-work:hover & {
        color: $color-1;
      }

      .device--is-desktop .o-work:not(:hover) & {
        position: absolute;
        top: 1.5em; /* Right below name */
        left: 0;
      }
    }

    svg {
      stroke: currentColor;
      vertical-align: middle;

      margin-left: .5em;
    }
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
