[class^="o-gradient"],
[class*=" o-gradient"] {
  position: relative;
  &:after {
    content: "";

    @include position(absolute, null 0 0 0);

    height: $line--m;
  }
}

.o-gradient--1:after {
  @include linear-gradient(to right, $color-1--light, $color-2);
}

.o-circle {
  @include media($mobile) {
    width: em($ratio--xl);
  }
  @include media($desktop) {
    width: em($unit--xxh);
  }

  background-color: white;
  border-radius: 50%;
}

.o-circle__image {
  border-radius: 50%;
}
