@mixin overlay-gradient {
  @include position(absolute, 0 0 0 0);
  background-image: #{"linear"}-gradient(to bottom, transparent, rgba($grey-2, .85));

  pointer-events: none;
}

@mixin overlay-gradient--solid {
  @include position(absolute, 0 0 0 0);
  background-image: #{"linear"}-gradient(to bottom, transparent, $grey-2);

  pointer-events: none;
}

@mixin wrap-push {
  @include media($large) {
    .device--is-desktop & {
      padding-left: em(130);
      padding-right: em(80);
    }
  }
}

@mixin rem-fallback ($property, $value) {
  #{$property}: $value * $ratio--b + px;
  #{$property}: #{$value}rem;
}
