@mixin new-wrap($center: false) {
  @include collapse-children;

  padding: 1.75em 1.5em;

  @include media($tablet) {
    padding: 3em 2.5em;
  }
  @include media($desktop) {
    padding: 4em;
  }

  @if $center == true {
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin wrap--square {
  @include collapse-children;

  padding: 1.5em;

  @include media($tablet) {
    padding: 2.5em;
  }
  
  @include media($desktop) {
    padding: 4em;
  }
}

@mixin short-wrap {
  @include collapse-children;

  padding: 1.5em;

  @include media($tablet) {
    padding: 2em 2.5em;
  }
  
  @include media($desktop) {
    padding: 2.5em 4em;
  }
}

@mixin slim-wrap {
  @include collapse-children;

  padding: 1.75em .5em;

  @include media($tablet) {
    padding: 2em 1em;
  }
  
  @include media($desktop) {
    padding: 3em 2em;
  }
}
