@mixin new-wrap {
  padding: 4em;

  @include collapse-children;
}

.l-wrap {
  // Changed
  padding: em($unit--xl) em($unit--b);

  margin-right: auto;
  margin-left: auto;

  @include clearfix;
  @include collapse-children;

  @include media($phablet) {
    padding: em($unit--xxl) em($ratio--m);
  }
  @include media($tablet) {
    padding: em($ratio--l);
  }
  @include media($desktop) {
    padding: 4em;
  }
}

.l-wrap--small {
  @include padding(em($ratio--b) null);
  
  @include media($tablet) {
    @include padding(em($unit--l) null);
  }
  @include media($desktop) {
    @include padding(em($ratio--m) null);
  }
}

.l-wrap--big {
  @include padding(em($ratio--m) null);

  @include media($tablet) {
    @include padding(em($ratio--l) null);
  }
  @include media($desktop) {
    @include padding(em($ratio--xl) null);
  }
}

.l-wrap--vertical {
  @include padding(null 0);
}
.l-wrap--horizontal {
  @include padding(0 null);
}
.l-wrap--no-top {
  padding-top: 0;
}
.l-wrap--no-bottom {
  padding-bottom: 0;
}
