@mixin new-wrap {
  padding: 4em;

  @include collapse-children;
}

.l-wrap {
  // Changed
  padding: em($unit--xl) em($unit--b);

  margin-right: auto;
  margin-left: auto;

  @include clearfix;
  @include collapse-children;

  @include media($phablet) {
    padding: em($unit--xxl) em($ratio--m);
  }
  @include media($tablet) {
    padding: em($ratio--l);
  }
  @include media($desktop) {
    padding: 4em;
  }
}
