// Class for <section> instances.
.l-section--light {
  color: $grey-4;
  background-color: $grey-9;
}
.l-section--dark {
  background-color: $grey-1;
  color: $grey-8;
}
.l-section--black {
  background-color: rgba($grey-0, .25);
  color: $grey-8;
}

.l-asym {
  @include clearfix;
}

.l-asym__title {
  @include media($tablet) {
    @include span-columns(2 of $columns__tablet);
  }

  @include media($desktop) {
    @include span-columns(4 of $columns__desktop);
  }
}

.l-asym__content {
  @include media($large) {
    float: left;

    > :first-child {
      margin-top: 0;
    }
  }

  @include media($tablet) {
    width: flex-grid(7, $columns__tablet);
  }

  @include media($desktop) {
    width: flex-grid(8, $columns__desktop);
  }


  &:last-child > * {
    margin-bottom: 0;
  }
}
