footer.o-exit(class="o-exit--#{exit.theme}")
  .l-inline
    .o-exit__cell.l-inline__cell
      include _context

    .o-exit__cell.l-inline__cell
      small.o-exit__copyright.t-small © Copyright 2018 Little Greta&emsp;Registered in England and Wales, no. 10123289 and the Czech Republic, no. 28275705

