.l-section--black
  .o-social.l-wrap.l-wrap--small.l-wrap--section
    strong.o-social__title.t-caps We&rsquo;re social, too!

    ul.o-social__list
      li.o-social__item--twitter
        a.o-social__link--twitter(href="https://twitter.com/littlegretacz")
          .o-social__icon.o-icon--b.ss-twitter.ss-social
          span.o-social__caption Twitter
      li.o-social__item--youtube
        a.o-social__link--youtube(href="https://vimeo.com/littlegreta")
          .o-social__icon.o-icon--b.ss-vimeo.ss-social
          span.o-social__caption Vimeo
      li.o-social__item--tumblr
        a.o-social__link--tumblr(href="http://littlegreta.tumblr.com")
          .o-social__icon.o-icon--b.ss-tumblr.ss-social
          span.o-social__caption Tumblr blog
