section.o-social
  .l-wrap.l-wrap--small
    strong.o-social__title.t-caps We&rsquo;re social, too!

    ul.o-social__list
      li.o-social__item--facebook
        a.o-social__link--facebook(href="https://www.facebook.com/LittleGretaLtd/")
          .o-social__icon.o-icon--b.ss-facebook.ss-social
          span.o-social__caption Facebook

      li.o-social__item--twitter
        a.o-social__link--twitter(href="https://twitter.com/littlegretacz")
          .o-social__icon.o-icon--b.ss-twitter.ss-social
          span.o-social__caption Twitter

      li.o-social__item--instagram
        a.o-social__link--instagram(href="https://www.instagram.com/littlegreta/")
          .o-social__icon.o-icon--b.ss-instagram.ss-social
          span.o-social__caption Instagram

      li.o-social__item--vimeo
        a.o-social__link--vimeo(href="https://vimeo.com/littlegreta")
          .o-social__icon.o-icon--b.ss-vimeo.ss-social
          span.o-social__caption Vimeo

      li.o-social__item--tumblr
        a.o-social__link--tumblr(href="http://littlegreta.tumblr.com")
          .o-social__icon.o-icon--b.ss-tumblr.ss-social
          span.o-social__caption Tumblr blog
