ul.o-social
  each item in social
    li.o-social__item(data-present="child")
      a(class="o-social__link--" + item.id, href=item.href)
        span.o-social__icon
          case item.id
            when "fb"
              include ../../svg/icon-facebook.svg
            when "tw"
              include ../../svg/icon-twitter.svg
            when "ig"
              include ../../svg/icon-instagram.svg
            when "vi"
              include ../../svg/icon-vimeo.svg
            when "tb"
              include ../../svg/icon-tumblr.svg
        strong.o-social__caption= item.title
