header.o-header.l-wrap.l-wrap--small.l-wrap--section
  a.o-logo(href="index", data-logo)
    .o-logo__content
      include ../../svg/logo_big.svg
      strong.o-logo__title Little Greta

  nav.o-menu
    .o-menu__table
      .o-menu__cell
        .o-menu__container(data-hover)
          button.o-menu__toggle.o-iconed--small.ss-rows Menu

          .o-menu__dropdown
            ul.o-menu__list
              each instance in pages
                if (sticky.current == instance.name)
                  unless (sticky.current == "Home")
                    li.o-menu__item: span.o-menu__selected= instance.name
                else
                  li.o-menu__item: a.o-menu__link(href=instance.anchor)= instance.name

      .o-menu__cell
        .o-dropdown(data-hover)
          button.o-dropdown__toggle.o-iconed--small.ss-navigatedown.right(type="button") EN
          .o-dropdown__content
            ul.o-dropdown__list
              li.o-dropdown__item
                span.o-dropdown__selected EN
              each instance in ["DE", "CZ"]
                li.o-dropdown__item
                  a(href="#").o-dropdown__link.i-link--light= instance
