main#about.m-about.l-section--light
  .l-wrap.l-wrap--section

    header.m-about__header
      h1.m-about__title.t-h1
        span.t-gradient--1 Little
        | 
        span.t-h1__emphasis but
        | 
        span.t-gradient--2 Great
      p.m-about__intro.t-lead We are Little Greta, a little but great team of creatives, providing a complete design and communication service, with specialties in digital media, graphic design and multimedia.

    section.m-services
      h3.m-services__title.t-h3 Services
      
      article.m-services__item--digital
        .m-services__icon
          .m-services__circle
        h4.m-services__name.t-h4 Digital
        ul.m-services__list.o-dotlist--inside
          li Web design and development
          li Web apps, microsites
          li Digital marketing
          li Mobile apps
          li UX, Graphical user interfaces
          li Social media
          li 3D visualization

      article.m-services__item--graphic
        .m-services__icon
          .m-services__circle
        h4.m-services__name.t-h4 Graphic Design
        ul.m-services__list.o-dotlist--inside
          li Corporate design
          li Brand design
          li Print
          li POS, POP
          li Packaging
          li Illustration

      article.m-services__item--multimedia
        .m-services__icon
          .m-services__circle
        h4.m-services__name.t-h4 Multimedia
        ul.m-services__list.o-dotlist--inside
          li Video
          li Animation
          li Photography

      article.m-services__item--creation
        .m-services__icon
          .m-services__circle
        h4.m-services__name.t-h4 Creation
        ul.m-services__list.o-dotlist--inside
          li Idea making
          li Copywriting
          li Content management
          li Translation
          li Strategy

    .m-about__outro
      h5.m-about__subtitle.t-h5
        span.t-gradient--light.t-gradient--small About Us
      .l-grid--2
        .l-grid__item--2
          p We have offices in London, Munich, and two in the Czech Republic, where Little Greta originates and where much of our team and infrastructure remains.
          p Our clients benefit from our membership of United Advertising Network, a global pool of agencies sharing the sector's latest innovations, best practice and market research.
        .l-grid__item--2
          p They also benefit from our partnership with the Faculty of Multimedia Communication where we offer work experience to some of the Czech Republic’s brightest and most creative students.

      aside.m-about__partners
        strong.m-about__smallcaps.t-smallcaps--light Our Partners
        a.o-image-link(href="http://www.unitedadnet.net/", title="A member of United Advertising Network")
          img(src="assets/images/logo_unitedadnet.png" alt="United Adnet")
        a.o-image-link(href="http://web.fmk.utb.cz/?lang=en", title="Partner of FMC TBU")
          img(src="assets/images/logo_fmc.png", alt="Tomas Bata University in Zlin, FMC")
