section.m-about.l-section--light
  .l-wrap.l-wrap--bottom-big.l-wrap--push

    header.m-about__header
      h1.m-about__title.t-h1
        span.t-gradient--1 Little
        span.t-h1__emphasis but
        span.t-gradient--2 Great
      p.m-about__intro.t-lead We are Little Greta, a little but great team of creatives, providing a complete design and communication service, with specialties in digital media, graphic design and multimedia.

    section.m-services
      h2.t-h2.t-h2--section Services
      
      article.m-service.m-service--digital
        .m-service__icon
          .m-service__circle
        h3.m-service__title.t-h3 Digital
        ul.m-service__list.o-dotlist--inside
          li Web design and development
          li Mobile apps
          li Digital marketing
          li Web apps, microsites
          li UX, Graphical user interfaces
          li 3D visualization

      article.m-service.m-service--graphic
        .m-service__icon
          .m-service__circle
        h3.m-service__title.t-h3 Graphic Design
        ul.m-service__list.o-dotlist--inside
          li Corporate design
          li Brand design
          li Print
          li Point of Sale, Point of Purchase
          li Packaging

      article.m-service.m-service--creation
        .m-service__icon
          .m-service__circle
        h3.m-service__title.t-h3 Creation
        ul.m-service__list.o-dotlist--inside
          li Idea making
          li Illustration
          li Motion graphics and multimedia
          li Photography
          li Product design
          li Social media

    aside.m-about__outro
      h4.t-h4
        span.t-underline--dark About Us
      .l-grid--2
        .l-grid__item--2
          p We have offices in London, Munich, and two in the Czech Republic, where Little Greta originates and where much of our team and infrastructure remains.
          p Our clients benefit from our membership of United Advertising Network, a global pool of agencies sharing the sector's latest innovations, best practice and market research.
        .l-grid__item--2
          p They also benefit from our partnership with the Faculty of Multimedia Communication where we offer work experience to some of the Czech Republic’s brightest and most creative students.
          .m-about__partners
            strong.m-about__smallcaps.t-smallcaps--light Our Partners
            a.o-image-link(href='http://www.unitedadnet.net/', title="A member of United Advertising Network")
              img(src="assets/images/logo_unitedadnet.png" alt="United Adnet")
            a.o-image-link(href='http://web.fmk.utb.cz/?lang=en', title="Partner of FMC TBU")
              img(src="assets/images/logo_fmc.png", alt="Tomas Bata University in Zlin, FMC")