footer.l-section.l-section--light
  .l-wrapper
    main.m-feed
      table.m-bar
        tr
          td
            h3.t-h3 Twitter Feed
          td
            a.o-button.o-button--light(href='https://twitter.com/littlegretacz', title='Follow Us on Twitter!') Follow Us
      ul.m-feed__list
        include ../partial/tweet
        include ../partial/tweet
        include ../partial/tweet
        include ../partial/tweet
    aside.m-contact
      h3.t-h3 Get in Touch
      //- h5.t-h5 Little Greta Ltd.
      ul.m-contact__list
        li.m-contact__item
          h5.t-h5
            span London Office
          .m-contact__details
            | 87-89 Saffron Hill
            br
            | EC1N 8QU London
            br
            br
            | Owen Morgan
            br
            | +420 776 717 609
            br
            a(href='#') owen@littlegreta.co.uk
        li.m-contact__item
          h5.t-h5
            span Edinburgh Office
          .m-contact__details
            | Belgrave Business Centre
            br
            | 45 Frederick St
            br
            | EH2 1EP Edinburgh
            br
            br
            | Owen Morgan
            br
            | +420 776 717 609
            br
            a(href='#') owen@littlegreta.co.uk
        li.m-contact__item
          h5.t-h5
            span Prague Office
          .m-contact__details
            | Vysehradska 1349/2
            br
            | 128 00 Prague
            br
            br
            | Owen Morgan
            br
            | +420 776 717 609
            br
            a(href='#') owen@littlegreta.co.uk
        li.m-contact__item
          h5.t-h5
            span Zlin Office
          .m-contact__details
            | Vysehradska 1349/2
            br
            | 128 00 Prague
            br
            br
            | Owen Morgan
            br
            | +420 776 717 609
            br
            a(href='#') owen@littlegreta.co.uk
    ul.m-social
      li.m-social__newsletter
        a.t-link--dark.o-tooltip.o-tooltip--top(href='#', data-title='Subscribe to Our Newsletter') Subscribe to Newsletter
      li.m-social__twitter
        a.t-link--dark.o-tooltip.o-tooltip--top(href='https://twitter.com/littlegretacz', data-title='Follow Us on Twitter') Twitter
      li.m-social__youtube
        a.t-link--dark.o-tooltip.o-tooltip--top(href='http://www.youtube.com/user/LittleGreta', data-title='Watch Our YouTube channel') YouTube channel
      li.m-social__tumblr
        a.t-link--dark.o-tooltip.o-tooltip--top(href='http://littlegreta.tumblr.com', data-title='View Our Tumblr blog') Tumblr blog