section.m-news.o-slider.owl-carousel(data-slider)

  each instance in [182, 177, 304, 341, 201]

    article.m-news__item.o-slider__item

      .m-news__overlay.o-slider__overlay.l-wrap.l-wrap--push
        .m-news__content.o-slider__content
          h2.t-h2
            +dummy(6, "words")
          p.t-big
            +dummy(20, "text")
          a(href="#").o-button--text.o-button--big.ss-play.right Watch

      img.o-slider__image(src="http://unsplash.it/1280/800/?image=#{instance}", alt="unsplash.it")
