section.m-people.l-section--light
  .l-wrap.l-wrap--section

    h2.m-people__title.t-h2
      span.t-gradient--light Our People

    .m-people__list
      - var i = 0
      while i < 24
        - var random = Math.floor((Math.random() * 8))
        - var person = people[random]

        article.o-person
          .o-person__portrait
            img.o-person__image(src="assets/images/#{person.image}", alt="Portrait of #{person.name}")

          .o-person__info
            strong.o-person__name.t-caps= person.name
            small.o-person__position.t-small!= person.position

            .o-person__detail
              .o-person__content
                strong Education
                != person.education

                strong Hobbies
                != person.hobbies

                strong 3 Love Brands
                != person.favourites

        - i++
