section.m-portfolio.owl-carousel.o-slider.o-blur--blue(data-carousel)

  each instance in [141, 416, 426, 447]

    article.m-portfolio__item.o-slider__item
      .m-portfolio__overlay.o-slider__overlay.l-wrap.l-wrap--push

        .m-portfolio__content.o-slider__content
          h3.t-h3
            +dummy(5, "words")
          p.m-portfolio__info
            +dummy(30, "text")
          a(href="#").o-button--text.ss-zoomin.right Read More

      img.o-slider__image(src="http://unsplash.it/1200/820/?image=#{instance}", alt="unsplash.it")
