section.m-portfolio.o-blur--blue(data-portfolio)

  .m-portfolio__slider.o-slider.royalSlider(data-carousel)

    each instance in [141, 416, 426, 447]

      article.m-portfolio__item.o-slider__item
        .m-portfolio__overlay.o-slider__overlay.l-wrap

          .m-portfolio__content.o-slider__content
            h3.t-h3
              +dummy(5, "words")
            p.m-portfolio__info
              +dummy(30, "text")
            a(href="#").m-portfolio__button.o-button--text.ss-zoomin.right Read More

        a.o-slider__image.rsImg(href="http://unsplash.it/1280/800/?image=#{instance}") unsplash.it

  a(href="portfolio").m-portfolio__hint.o-button--text.o-button--big.i-link--2.ss-right.right View Portfolio
