doctype
html(lang="en")
head
  meta(charset="utf-8")
  meta(property="og:title", content="*|MC:SUBJECT|*")
  title *|MC:SUBJECT|*
  link(rel="stylesheet", href="assets/css/newsletter.css")

body
  table.l-section.l-section--light
    tr
      td
        table.l-table--inside(align="center")
          tr
            td
              table.s-header(align="center")
                tr.s-header__nav
                  td.s-header__col: a.link--no-underline.t-small.link--light(href="http://www.littlegreta.co.uk/newsletter/november", target="_blank")
                    | &larr; 
                    span Previous newsletter
                  td
                  td.s-header__col.l-right: a.t-small.link--light(href="http://www.littlegreta.co.uk/newsletter/august", target="_blank") View newsletter in your browser.
                tr
                  td: .o-divider--thick
                  td.s-header__logo.l-center: img(src="http://www.littlegreta.co.uk/images/newsletter/logo_lg.jpg", alt="Little Greta logo")
                  td: .o-divider--thick
                tr.o-main-title
                  td(colspan="3")
                    h1
                      span.o-main-title__primary Little 
                      span.o-main-title__secondary but
                      span.o-main-title__primary  Great
                tr
                  td(colspan="3").l-spaced--bottom
                    table.m-subhead(align="center")
                      tr
                        td.m-subhead__title.t-small Little Greta Newsletter
                        td.m-subhead__social
                          table
                            tr
                              td
                                a(href="https://twitter.com/littlegretacz", target="_blank", title="Our Twitter")
                                  img(src="http://www.littlegreta.co.uk/images/newsletter/icon_twitter-big.jpg", alt="Our Twitter")
                              td
                                a(href="http://www.youtube.com/user/LittleGreta", target="_blank", title="Our YouTube")
                                  img(src="http://www.littlegreta.co.uk/images/newsletter/icon_youtube-big.jpg", alt="Our YouTube")
                              td
                                a(href="http://littlegreta.tumblr.com", target="_blank", title="Our Tumblr")
                                  img(src="http://www.littlegreta.co.uk/images/newsletter/icon_tumblr-big.jpg", alt="Our Tumblr")
                        td.m-subhead__link.t-small
                          a.link--dark(href="http://www.littlegreta.co.uk", target="_blank") www.littlegreta.co.uk
          tr
            td
              table
                tr
                  td
                    table.m-hero.m-hero--primary
                      tr
                        td.m-hero__row
                          .m-hero__content
                            table.o-headline__bar.m-hero__offset--top(align="center")
                              tr
                                td
                            h2 Little Greta consolidates presence in German-speaking markets
                            table.o-headline__bar.m-hero__offset--bottom(align="center")
                              tr
                                td
                          img(src="http://www.littlegreta.co.uk/images/newsletter/big_munich.jpg", alt="Photo of Munich, Germany")
                tr
                  td.l-text-column.l-content--narrow
                    p
                      | Little Greta, international 
                      a(href="http://www.littlegreta.co.uk/#about-us-section", target="_blank") full-service agency, with specialities in digital media, design and multimedia
                      | , is proud to announce the opening of a new German office, part of its strategy to develop a&nbsp;global offer.
                    p.t-indent
                      i &ldquo;In addition to the UK, which is our core market, recently we&#8217;ve been building our profile in Austria and Germany. We want to increase our activity in these two countries and opening an office demonstrates our intentions. We see this as one of Europe&#8217;s key markets, with many new opportunities for Little Greta,&rdquo;
                      |  says Tom Nedved, Partner.
                tr
                  td
                    table.m-hero
                      tr
                        td.m-hero__row
                          .m-hero__content
                            table.o-headline__bar.m-hero__offset--top(align="center")
                              tr
                                td
                            h2 Taking the next big step in the UK
                            table.o-headline__bar.m-hero__offset--bottom(align="center")
                              tr
                                td
                          img(src="http://www.littlegreta.co.uk/images/newsletter/big_team.jpg", alt="Little Greta team")
                tr
                  td.t-center.l-spaced--top
                    small.t-light.t-sans Jan, Owen, Tom and Des in London
                tr
                  td.l-text-column.l-content--narrow
                    p While in Germany we might be the new kids on the block, in the UK we&#8217;re now well established in the market and growing our portfolio. Our UK business development is led by Owen Morgan.
                    p.t-indent
                      i &ldquo;We&#8217;re proud to be working with well-known international partners like Partners Andrews Aldridge of the Engine Group and NIIT Technologies,&rdquo;
                      |  he says. To see more of our work 
                      a(href="http://www.littlegreta.co.uk/#portfolio-section", target="_blank") visit our portfolio
                      | .
                tr
                  td.l-content
                    q.o-quote In the first 6 months of 2014, we&#8217;ve delivered over 40 projects, mostly web design, animation, graphic design and copywriting.
                tr
                  td.l-content--narrow.l-right.l-spaced--top
                    span.o-quote__author &mdash; Owen Morgan, UK Business Development Manager
                tr
                  td.l-text-column.l-content--narrow
                    p
                      i &ldquo;Over the last 2 years we&#8217;ve grown our UK business rather organically. In 2015 we&#8217;d like to boost it significantly through finding the right investment. We&#8217;re keen to talk to interested parties who can see the potential in what we are trying to achieve; partners whose experience can teach as to perform better as well,&rdquo;
                      |  says Jan Blazek, Partner. If you&#8217;re interested in learning more about this opportunity 
                      a(href="mailto:jan.blazek@littlegreta.cz") speak to Jan
                      | .
  table.l-section.m-work
    tr
      td
        table.l-table--inside(align="center")
          tr
            td
              table.m-work__first
                tr
                  td(colspan="2").l-content--narrow
                    h3
                      span.u-blue New Partners Andrews Aldridge web site
                tr
                  td.m-work__image
                    img(src="http://www.littlegreta.co.uk/images/newsletter/work_paa.jpg", alt="New PAA web site")
                  td.l-content--right.m-work__info
                    p Our lovely client PAA, part of the multinational marketing group Engine, selected Little Greta to build their own site — and it&#8217;s fully responsive. It&#8217;s a privilege to have been chosen for this project and we&#8217;re excited about future partnerships with the agency. Here&#8217;s a sneak preview!
          tr
            td
              table.m-work__second
                tr
                  td(colspan="2").l-content--narrow
                    h3
                      span.u-teal Creating a noise for an organic squash with international ambitions
                tr
                  td.l-content--left.m-work__info
                    p 
                      | We&#8217;ve been working directly with organic cordial company Mostenicky sirup to help them spread the word about their range of healthy mixers. 
                      a(href="http://www.littlegreta.co.uk/mostenicky-sirup-communication-of-a-new-organic-syrup-with-the-ambition-to-go-international", target="_blank") Check out how we designed their branding and the campaign.
                      |  We love this brand and had a lot of fun getting the materials just right. If you want a glass of squash and you&#8217;re in town pop in and see us.
                  td.l-content--right.m-work__image
                    img(src="http://www.littlegreta.co.uk/images/newsletter/work_sirup.jpg", alt="New bottle designs of Mostenicky sirup")
  table.l-section.l-section--dark
    tr
      td
        table.l-table--inside.m-news(align="center")
          tr
            td(colspan="2").l-spaced
              table.o-headline__bar(align="center")
                tr
                  td
              h2 Little but Great news in brief
              table.o-headline__bar(align="center")
                tr
                  td
          tr
            td(valign="top")
              table
                tr
                  td(colspan="3")
                    table.m-news__frame.m-news__frame--left
                      tr
                        td
                          h4.c-teal: strong Lekarna.cz
                          p Won a pitch to rebrand largest online pharma reseller in the Czech Republic.
                tr
                  td(colspan="2")
                    table.m-news__frame.m-news__frame--left
                      tr
                        td
                          h4.c-blue
                            strong Ritsch Lederhosen
                            | , 
                            span with Keyvi
                          p Yes, we&#8217;ve co-designed a new e-commerce website selling the classic Austrian leather trousers.
                  td(valign="top")
                    .m-news__empty
                    table.m-news__frame
                      tr
                        td
                          h4: strong Bauer Media
                          p Pitching TV commercials to promote a range of women&#8217;s magazines.
                tr
                  td(colspan="3")
                    table.m-news__frame.m-news__frame--left
                      tr
                        td
                          h4.c-green: strong Mews Systems
                          p Secured the management of portfolio of hotel and restaurant websites from the developers of an easy to use property management solution for hotels.
                tr
                  td
                    .m-news__empty
            td(valign="top")
              table
                tr
                  td
                    table.m-news__frame.m-news__frame--right
                      tr
                        td
                          h4.c-green: strong Bzenia
                          p
                            | Designing new packaging and rebranding, combining augmented reality, graphic design and multimedia for this high end vineyard and wine exporter. 
                            a(href="http://littlegreta.co.uk/arvina-winery-design-of-a-new-vintage-for-a-family-operated-and-owned-luxury-winery-producing-organic-wines", target="_blank") Check our previous collaboration &mdash; very tasty!
                tr
                  td
                    .m-news__empty
                    table.m-news__frame.m-news__frame--right
                      tr
                        td
                          h4.c-teal: strong Mosaic House
                          p
                            | Design and build for a vibrant eco-friendly, design and music hostel in Prague. 
                            a(href="http://www.littlegreta.co.uk/mosaic-house-new-web-site-for-a-vibrant-eco-friendly-design-and-music-hostel-in-prague", target="_blank") See more here!
                tr
                  td
                    table.m-news__frame.m-news__frame--right
                      tr
                        td
                          h4.c-blue
                            strong NIIT Technologies
                            | , 
                            span with Gravitas
                          p Supplied animation and are building new website for a leading IT solutions organization, servicing customers in the Americas, Europe, Asia and Australia.
  table.l-section.l-section--black.s-flaneurs
    tr
      td
        table.l-table--inside(align="center")
          tr
            td.l-spaced
              table.o-headline__bar(align="center")
                tr
                  td
              h2 Meet Flaneurs
              table.o-headline__bar(align="center")
                tr
                  td
          tr
            td.l-content
              a.o-image-link(href="https://vimeo.com/104006052", target="_blank")
                img(src="http://www.littlegreta.co.uk/images/newsletter/big_flaneurs.jpg", alt="Click to play Flaneurs teaser")
          tr
            td.l-content--narrow.l-text-column
              p
                | We&#8217;re excited to announce a new international collaboration with Mrs Lia Ghilardi and her consultancy Noema. As Flaneurs, we specialise in transforming genius loci into brands. 
                a(href="http://www.flaneurs.eu/", target="_blank") Visit Flaneurs&#8217; website
                |  or 
                a(href="https://vimeo.com/104006052", target="_blank") check the video
                |  above. Talk to us about destination branding and design.
  table.l-section
    tr
      td
        table.l-table--inside(align="center")
          tr
            td.l-content
              table.m-contact.l-full
                tr
                  td(colspan="3")
                    table.o-headline__bar(align="center").o-headline__bar--light
                      tr
                        td
                    h2.h2--dark Contact us
                    table.o-headline__bar(align="center").o-headline__bar--light
                      tr
                        td
                tr
                  td.m-contact__column.m-contact__column--first
                    h5
                      span.u-green London
                    table.m-contact__info
                      tr
                        td 65 Deans Road
                      tr
                        td W7 3QD London, UK
                  td.m-contact__column.m-contact__column--second
                    h5
                      span.u-teal Munich
                    table.m-contact__info
                      tr
                        td Türkenstrasse 103
                      tr
                        td 80799 Munich, Germany
                  td.m-contact__column.m-contact__column--third
                    h5
                      span.u-blue Prague
                    table.m-contact__info
                      tr
                        td Vysehradska 1349/2
                      tr
                        td 128 00 Prague, Czech Rep.
                tr.m-contact__portraits
                  td
                    img(src="http://www.littlegreta.co.uk/images/newsletter/contact_des.jpg", alt="Des Brady")
                  td
                    img(src="http://www.littlegreta.co.uk/images/newsletter/contact_petr.jpg", alt="Petr Danes")
                  td
                    img(src="http://www.littlegreta.co.uk/images/newsletter/contact_jan.jpg", alt="Jan Blazek")
                tr
                  td
                    table.m-contact__info
                      tr
                        td: strong Des Brady
                      tr
                        td 07799 161 162
                      tr
                        td: a(href="mailto:des.brady@littlegreta.co.uk") des.brady@littlegreta.co.uk
                  td
                    table.m-contact__info
                      tr
                        td: strong Petr Danes
                      tr
                        td &nbsp;
                      tr
                        td: a(href="mailto:petr.danes@littlegreta.cz") petr.danes@littlegreta.cz
                  td
                    table.m-contact__info
                      tr
                        td: strong Jan Blazek
                      tr
                        td +420 776 717 609
                      tr
                        td: a(href="mailto:jan.blazek@littlegreta.cz") jan.blazek@littlegreta.cz
  table.l-section.l-section--light.m-footer
    tr
      td
        table.l-table--content(align="center")
          tr
            td(colspan="2").m-footer__vert.m-footer__thin.m-footer__thick
              table.l-full
                tr
                  td
                    | To stop receiving our e-mails, 
                    a(href="*|UNSUB|*") please unsubscribe
                    | .
                  td.l-right
                    a(href="*|UPDATE_PROFILE|*") Update subscription preferences
          tr
            td(valign="top").l-column
              table.l-full.m-partners
                tr
                  td.l-center.m-footer__vert
                    h6 Our partners
                tr
                  td: a(href="http://www.unitedadnet.net", target="_blank")
                    img(src="http://www.littlegreta.co.uk/images/newsletter/logo_adnet.jpg", alt="United Adnet logo")
                tr
                  td: a(href="http://web.fmk.utb.cz/?lang=en", target="_blank")
                    img(src="http://www.littlegreta.co.uk/images/newsletter/logo_utb.jpg", alt="UTB FMC logo")
                tr
                  td: a(href="http://www.flaneurs.eu", target="_blank")
                    img(src="http://www.littlegreta.co.uk/images/newsletter/logo_flaneurs.jpg", alt="Flaneurs logo")
            td(valign="top")
              table.l-full
                tr
                  td.m-footer__vert.m-footer__thin
                    table.l-full
                      tr
                        td.m-footer__left: h6 Visit us
                        td.l-right: a(href="http://www.littlegreta.co.uk", target="_blank") www.littlegreta.co.uk
                tr
                  td.m-footer__vert.m-footer__thin
                    table.l-full
                      tr
                        td.m-footer__left: h6 Share this newsletter
                        td.l-right.m-footer__social
                          table
                            tr
                              td: a(href="https://www.facebook.com/sharer/sharer.php?u=www.littlegreta.co.uk/newsletter/august", target="_blank")
                                img(src="http://www.littlegreta.co.uk/images/newsletter/icon_facebook.jpg", alt="Facebook")
                              td: a(href="https://twitter.com/home?status=Check%20out%20new%20Little%20but%20Great%20newsletter%20http://www.littlegreta.co.uk/newsletter/august", target="_blank")
                                img(src="http://www.littlegreta.co.uk/images/newsletter/icon_twitter.jpg", alt="Twitter")
                tr
                  td.m-footer__vert.m-footer__left Copyright &copy; *|CURRENT_YEAR|* *|LIST:COMPANY|*, All rights reserved.
