extends templates/_site

block template-content
  - var sticky = {current: "Home"}
  include partial/_sticky

  - var intro = {background: "top/photo1.jpg", text: "We are Little Greta, a&nbsp;little but great team of creatives, providing a&nbsp;complete design and communication service.", anchor: "#news", hint: "Continue"}
  include section/_intro

  include section/_news
  include section/_about--short
  include section/_portfolio
  
  footer.m-footer.l-section--dark
    include partial/_social
    include section/_contact--short
