// @import "bourbon";

// // chj
// @import "chj-mixins";
// @import "chj-neat";

// // Config
// @import "newsletter/config";

// @import "newsletter/typography";
// @import "newsletter/layout";
// @import "newsletter/objects";
// @import "newsletter/modules";
// @import "newsletter/specific";

body {
  margin: 0;
  font-size: 14px;
}
table {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  // outline: 3px solid green;
}
td {
  padding: 0;
  // border: 1px solid rgba(125, 125, 125, .5);
}
a {
  border: 0;
  outline: 0;
}