.s-header {
  font-family: Helvetica, sans-serif;
  width: $width__content;
  margin-left: auto;
  margin-right: auto;
}
.s-header__col {
  width: 260px;
}
.s-flaneurs {
  p {
    font-family: $font--sans;
    color: #DADFE6;
  }
  a {
    @include state--link {
      color: white;
    }
    @include state--hover {
      color: $c-grey2;
    }
  }
}