.t-center {
  text-align: center;
}
p {
  font-family: $font--serif;
  line-height: 150%;
  margin: 0;
}
.t-indent {
  text-indent: $unit--m;
}
.link--no-underline {
  text-decoration: none;
  span {
    text-decoration: underline;
  }
}
.link--light {
  @include state--link {
    color: $c-grey2;
  }
  @include state--hover {
    color: $c-grey3;
  }
}
.link--dark {
  @include state--link {
    color: $c-grey3;
  }
  @include state--hover {
    color: $c-grey6;
  }
}
.t-light {
  color: $c-grey2;
}
.t-small {
  font-size: 12px;
}
.t-sans {
  font-family: $font--sans;
}
.t-serif {
  font-family: $font--serif;
}
h2 {
  font-family: $font--sans;
  font-size: $ratio--m;
  font-weight: normal;
  color: white;
  text-align: center;
  margin-left: $ratio--xl;
  margin-right: $ratio--xl;
}
.h2--dark {
  color: $c-grey6;
}
h3 {
  font-family: $font--sans;
  font-size: $unit--m;
  font-weight: normal;
  line-height: 140%;
  margin-top: $ratio--m;
  margin-bottom: $ratio--s;
}
h4 {
  margin: 0;
  line-height: 150%;
  font-family: $font--sans;
  font-weight: normal;
  color: $c-grey2;
  font-size: $unit--b;
  strong {
    font-weight: bold;
    color: white;
  }
  &.c-blue strong {
    color: $c-color1--light;
  }
  &.c-teal strong {
    color: $c-color2--light;
  }
  &.c-green strong {
    color: $c-color3;
  }
}
h5 {
  font-family: $font--sans;
  font-size: $ratio--b;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin: 0;
}
h6 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  margin: 0;
  line-height: 120%;
}
.u-blue {
  border-bottom: 2px solid $c-color1--light;
}
.u-teal {
  border-bottom: 2px solid $c-color2--light;
}
.u-green {
  border-bottom: 2px solid $c-color3;
}
.l-section--light p,
.m-work p,
.m-contact__info {
  color: $c-grey5;
  a {
    @include state--link {
      color: $c-grey5;
    }
    @include state--hover {
      color: $c-color1;
    }
  }
}