.svg-award {
  &--adesign {
    flex-basis: 2.5em;
  }
  &--beer-1 {
    flex-basis: 2.75em;
  }
  &--beer-2 {
    flex-basis: 2.9em;
  }
  &--germandesign {
    flex-basis: 5.75em;
  }
  &--reddot {
    flex-basis: 5.5em;
  }
  &--zlatystrednik {
    flex-basis: 6.25em;
  }
  &--ida {
    flex-basis: 4.25em;
  }
}

.svg-logo__eye {
  animation: blink 6s infinite;
}
