[class^="blur--"],
[class*=" blur--"] {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    pointer-events: none;

    width: 100%;
    height: 100%;
  }
}

.blur--blue {
  &:before {
    mix-blend-mode: overlay;
    background-image: radial-gradient(farthest-side at 25% 25%, hsb(190, 70, 100), hsb(260, 100, 20));
  }
}

.blur--teal {
  color: hsb(190, 90, 70);

  &:before {
    mix-blend-mode: overlay;
    background-image: radial-gradient(farthest-side at 75% 25%, hsb(170, 40, 100), hsb(240, 100, 30));
  }
}

.blur--purple {
  color: hsb(270, 80, 60);

  &:before {
    mix-blend-mode: color-dodge;
    background-image: radial-gradient(farthest-side at 75% 25%, hsb(20, 90, 80), hsb(220, 100, 40));
  }
}

.blur--green {
  color: hsb(120, 100, 30);

  &:before {
    mix-blend-mode: screen;
    background-image: radial-gradient(farthest-side at 25% 25%, hsb(70, 100, 80), hsb(160, 100, 40));
  }
}
