$c-hue1: 215;
$c-hue2: 85;
$c-hue3: 175;
$c-hue4: 255;

$c-offset1: 10;
$c-offset2: 20;

/* Primary colors. */
$color-1--lighter: hsb($c-hue1 - $c-offset2, 090, 100);
$color-1--light:   hsb($c-hue1 - $c-offset1, 085, 095);
$color-1:          hsb($c-hue1, 085, 100);
$color-1--dark:    hsb($c-hue1 + $c-offset1, 090, 080);
$color-1--darker:  hsb($c-hue1 + $c-offset2, 095, 065);

$color-2--lighter: hsb($c-hue2 - $c-offset2, 100, 095);
$color-2--light:   hsb($c-hue2 - $c-offset1, 095, 090);
$color-2:          hsb($c-hue2, 090, 085);
$color-2--dark:    hsb($c-hue2 + $c-offset1, 075, 080);
$color-2--darker:  hsb($c-hue2 + $c-offset2, 080, 075);

$color-3--lighter: hsb($c-hue3 - $c-offset2, 065, 095);
$color-3--light:   hsb($c-hue3 - $c-offset1, 090, 090);
$color-3:          hsb($c-hue3, 085, 085);
$color-3--dark:    hsb($c-hue3 + $c-offset1, 090, 080);
$color-3--darker:  hsb($c-hue3 + $c-offset2, 100, 075);

$color-4--lighter: hsb($c-hue4 - $c-offset2, 015, 100);
$color-4--light:   hsb($c-hue4 - $c-offset1, 035, 100);
$color-4:          hsb($c-hue4, 045, 090);
$color-4--dark:    hsb($c-hue4, 055, 080);

/* Neutral colors. */
$grey-9:  hsb($c-hue1, 01, 98);
$grey-8:  hsb($c-hue1, 02, 92);
$grey-7:  hsb($c-hue1, 03, 77);
$grey-6:  hsb($c-hue1 + $c-offset1, 10, 67);
$grey-5:  hsb($c-hue1 + $c-offset1, 12, 57);
$grey-4:  hsb($c-hue1 + $c-offset1, 14, 47);
$grey-3:  hsb($c-hue1 + $c-offset2, 16, 37);
$grey-2:  hsb($c-hue1 + $c-offset2, 18, 27);
$grey-1:  hsb($c-hue1 + $c-offset2, 20, 17);
$grey-05: hsb($c-hue1 + $c-offset2, 20, 12);
$grey-0:  hsb($c-hue1 + $c-offset2, 22, 07);

/* Interactive. */
$c-link: $color-1;
$c-visited: $c-link;
$c-hover: $color-1--lighter;
$c-active: $color-3;

$c-select__background: $color-1--light;
$c-select__text: $color-1--dark;

/* Social colors. */
$c-facebook:        hsb(221, 61, 70);
$c-facebook--hover: hsb(221, 65, 60);
$c-twitter:         hsb(203, 88, 95);
$c-twitter--hover:  hsb(203, 90, 82);
$c-vimeo:           #1ab7ea;
$c-instagram:       #e1306c;
$c-tumblr:          $grey-4;

$c-error: hsb(35, 100, 100);

$gradient--instagram: radial-gradient(farthest-corner at 0% 0%, #FFB140, #FF5445, #FC2B82, #8E40B7);
