$breakpoints: (
  phablet: 500px,
  tablet: 760px,
  laptop: 980px,
  desktop: 1260px
);

/* Spacing */
$leading--l:   2;
$leading--m:   1.75;
$leading--b:   1.5;
$leading--s:   1.333;
$leading--xs:  1.25;
$leading--xxs: 1.125;

/* Radius */
$radius--b: 2px;

/* Opacity */
$opacity--b: .85;

/* Thickness */
$line--m: 3px;
$line--b: 2px;
$line--s: 1px;

/* Transitions. */
$duration--xxl: 1s;
$duration--xl: .75s;
$duration--l:  .5s;
$duration--b:  .25s;
$duration--s:  .125s;

$e-in__fast:     cubic-bezier(0.95, 0.05, 0.795, 0.035);  /* easeInExpo */
$e-out__fast:    cubic-bezier(0.19, 1, 0.22, 1);          /* easeOutExpo */
$e-out__medium:  cubic-bezier(0.165, 0.84, 0.44, 1);      /* easeOutQuad */

/* Z-index */
$index--xxl: 500;
$index--xl:  400;
$index--l:   300;
$index--m:   200;
$index--b:   100;
$index--s:   50;
$index--xs:  10;
$index--xxs: 1;
$index--n:  -1;

$width--b: 40em;
$width--l: 90em;

/* New font sizes */
$font--500: 2.25em;
$font--600: 3.5em;
$font--700: 4.5em;
