table.m-warning
  tr
    td
      table.m-warning__inner
        tr
          td
            h1.m-warning__title.t-h3 Please update your browser
            p.m-warning__text Your browser is outdated &mdash; to make the most of our website, please consider updating to any of these modern browsers:
            table.m-warning__options
              tr.o-triplet
                td.o-triplet__item
                  a.o-triplet__link(href="http://www.google.com/chrome/", target="_blank") Chrome
                td.o-triplet__item
                  a.o-triplet__link(href="https://www.mozilla.org/en-US/firefox/", target="_blank") Firefox
                td.o-triplet__item
                  a.o-triplet__link(href="http://www.opera.com/", target="_blank") Opera
