footer.o-exit(class="o-exit--#{exit.theme}")
  .l-inline
    .o-exit__cell.l-inline__cell
      include _context

    .o-exit__cell.l-inline__cell
      a(href="#", data-scrollto, class="i-link--#{exit.theme}").o-button--text.ss-up.right Scroll to Top

  small.o-exit__copyright.t-small &copy; 2015 Little Greta Ltd.
