form.m-subscribe__form.o-form
  input.o-input(type="text", placeholder="Your e-mail address")
  span.m-subscribe__submit.o-iconed--basic.ss-plus.right
    input.o-submit(type="submit", value="Subscribe")
.m-subscribe__hint
  span.m-subscribe__note or 
  a.o-button--text.o-button--big.ss-navigateright.right(href="http://littlegreta.co.uk/newsletter/august") View the latest newsletter
