article.o-work(class="o-work--#{size}", data-masonry-item, data-hover)
  img.o-work__image(src="assets/images/work/work_#{size}.jpeg", alt="unsplash.it")
  .o-work__overlay
    h4.t-h4 Work that&rsquo;s #{size}
    .o-work__more
      p: +dummy(15, "text")
      a.o-button--text.ss-zoomin.right(href="case-study") View Case Study
