// General wrapper.
.l-wrap--push {
  @include media($desktop) {
    padding-left: 10%;
    padding-right: 6.25%;
  }
}

// Class for <section> instances.
.l-section--light {
  color: $grey-5;
  background-color: $grey-1;
}
.l-section--dark {
  background-color: $grey-8;
  color: $grey-2;
}
.l-section--black {
  background-color: rgba($grey-9, .25);
  color: $grey-2;
}

// Column grid.
// .l-column {
//   @include collapse-children;
// }
// .l-column--primary {
//   @include media($desktop) {
//     @include span-columns(4 of 6);
//   }
// }
// .l-column--secondary {
//   overflow: auto;
// }
