// Class for <section> instances.
.l-section--light {
  color: $grey-4;
  background-color: $grey-9;
}
.l-section--dark {
  background-color: $grey-1;
  color: $grey-8;
}
.l-section--black {
  background-color: rgba($grey-0, .25);
  color: $grey-8;
}

.l-asym {
  @include clearfix;
}

.l-asym__title {
  // @include span-columns(4);
}

.l-asym__content {
  // @include span-columns(8);
  // @include omega;

  // @include collapse-children;

  // margin-bottom: em($ratio--m);

  &:last-child > * {
    margin-bottom: 0;
  }
}
