// General wrapper.
.l-wrap--push {
  @include media($desktop) {
    padding-left: 10%;
    padding-right: 6.25%;
  }
}

// Class for <section> instances.
.l-section--light {
  color: $c-grey6;
  background-color: $c-grey1;
}
.l-section--dark {
  background-color: $c-grey8;
  color: white;
  .t-h2 {
    -webkit-font-smoothing: antialiased;
  }
}

// Column grid.
// .l-column {
//   @include collapse-children;
// }
// .l-column--primary {
//   @include media($desktop) {
//     @include span-columns(4 of 6);
//   }
// }
// .l-column--secondary {
//   overflow: auto;
// }