.m-blog__title {
  -webkit-font-smoothing: antialiased;

  color: white;

  text-align: center;

  margin-bottom: em($ratio--b);
}

.m-blog__feed {
  @include clearfix;
}

.m-blog__sizer {
  @include span-columns(1);
}
.m-blog__gutter {
  width: flex-gutter();
}
