.m-contact {
  text-align: center;
}

.m-contact__list {
  @include clearfix;
}

.m-contact__item {
  margin-bottom: em($ratio--b);
  
  @include media($phablet) {
    @include span-columns(3);
    @include omega(2n);

    &:last-child {
      width: 100%;
    }
  }
  @include media($tablet) {
    @include span-columns(3);
    @include omega(3n);

    &:nth-child(4) {
      @include shift($columns__tablet / 6);
    }
  }
  @include media($desktop) {
    @include span-columns($columns__desktop / 5)
  }
}

.m-contact__title {
  color: white;

  margin-bottom: em($ratio--b);
}

.m-contact__name {
  color: white;
}

.m-contact__details {
  @include media($portable) {
    min-height: em(140);
  }

  ul {
    padding-left: 0;

    list-style: none;

    &:last-child {
      color: $grey-6;
      margin-bottom: em($ratio--s);
    }
  }
}

.m-contact__button--1 {
  @include state--link {
    color: $color-1--lighter;
  }
  @include state--active {
    color: $color-1;
  }
}
.m-contact__button--2 {
  @include state--link {
    color: $color-3--light;
  }
  @include state--active {
    color: $color-3--dark;
  }
}
.m-contact__button--3 {
  @include state--link {
    color: $color-2;
  }
  @include state--active {
    color: $color-2--darker;
  }
}
.m-contact__button--4 {
  @include state--link {
    color: $color-2--lighter;
  }
  @include state--active {
    color: $color-2;
  }
}
