.o-nav {
  background-color: white;
  height: em(100);
  min-width: 563px;
  width: 49%;
  @include border-bottom-radius(4px);
  ul {
    padding: 0;
    margin: 0;
    display: inline-block;
  }
}
  // .center {position: relative;
  //   top: 30%;
  // text-align: center;
  // } }
nav li {
  display: inline-block;
  vertical-align: top;
  a {
    padding-bottom: 0;
    border-bottom: 0 solid #fff;
    float: left;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    &:focus {outline: 0; }
    .active {
      color: #000;
      border-bottom: .25em solid $c-hover;
      padding-bottom: 0.2em;
    }
  }
}
nav li + li {margin-left: .5em; }
nav li span {
  margin-left: .8em;
  color: $grey-2;
}

// #language {
//   background-color: $grey-0;
//   padding: .5em 1em;
//   border-radius: 4px;
//   margin-left: 1.25em;
//   font-size: 0.8em;
//   a:link, a:visited {color: $grey-3; }
//   a:hover, a:active {color: $grey-4; }
//   .selected {color: $grey-4 !important; }
// }
