.m-intro {
  background-repeat: no-repeat;
  background-size: cover;

  @include media($desktop) {
    .no-touch & {
      @include position(fixed, 0 0 null 0);

      z-index: $index--b;
    }
  }
}

.m-intro__overlay {
  background-image: #{"linear"}-gradient(to bottom, rgba($grey-1, .625), transparent);

  @include wrap-push;
}

.m-intro__content {
  position: relative;

  padding-top: em($ratio--m);

  @include media($phone) {
    padding-top: em($unit--h);
  }

  @include media($phablet) {
    @include shift(2 of $columns__phablet);
  }

  @include media($tablet) {
    @include shift(2 of $columns__tablet);
  }

  @include media($desktop) {
    @include shift(3 of $columns__desktop);

    .no-touch & {
      height: 65vh;

      max-height: em($height--xl);
    }
  }
}

.m-intro__explanation {
  display: none;
}

.m-intro__text {
  color: white;

  // @include position(absolute, null 0 0 0);

  padding-bottom: em($ratio--b);

  // @include margin(0 null);
  margin-bottom: 0;
  
  @include media($phone) {
    text-align: center;
  }
}

.m-intro__table {
  display: table;

  width: 100%;
}
.m-intro__cell {
  display: table-cell;
  width: 50%;

  text-align: center;

  @include media($portable) {
    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }
}

.m-intro__lift {
  display: none;
  @include position(fixed, null 0 0 0);

  @include wrap-push;

  @include padding(0 null em($ratio--m));

  z-index: $index--s;

  text-decoration: none;

  transition: transform $duration--l, opacity $duration--l, color $duration--b;

  @include state--link {
    color: $color-4--light;
  }
  @include state--hover {
    color: $color-4--lighter;
  }

  .top--is-moved & {
    opacity: 0;
    transform: translateY(em($ratio--l));
  }
}

.m-intro__mark {
  // Reset <mark>
  background-color: transparent;
  color: inherit;

  @include shift(4);
}
