.m-portfolio {
  position: relative;
}

// .m-portfolio__slider {
//   z-index: $index--xs;
// }

.m-portfolio__content {
  // :after for clearfix already taken with linear-gradient
  overflow: auto;
}

.m-portfolio__item {
  // width: 80vw;

  .rsImg {
    transition: opacity $duration--b;
    opacity: .25;
  }

  .rsActiveSlide & .rsImg {
    opacity: 1;
  }
}

.m-portfolio__info {
  width: 75%;

  float: left;

  margin-top: 0;
  margin-right: em($ratio--m);
}

.m-portfolio__button {
  float: right;
}

.m-portfolio__hint {
  @include position(absolute, null 0 22.5% null);

  width: 20%;

  text-align: center;

  transition: transform $duration--b, opacity $duration--b;

  opacity: 0;
  transform: translateX(em($ratio--l));

  .carousel--at-end & {
    opacity: 1;
    transform: translateX(0);
  }
}
