.m-portfolio {
  position: relative;
}

// .m-portfolio__overlay {
// }

.m-portfolio__content {
  @include media($phablet) {
    @include shift(2 of $columns__phablet);
  }

  @include media($tablet) {
    @include shift(2 of $columns__tablet);
  }

  @include media($desktop) {
    // :after for clearfix already taken with linear-gradient
    overflow: auto;
  }
}

.m-portfolio__item {
  .rsImg {
    transition: opacity $duration--b;
    opacity: .25;
  }

  .rsActiveSlide & .rsImg {
    opacity: 1;
  }
}

.m-portfolio__info {
  // width: 75%;

  // float: left;

  margin-top: 0;
  // margin-right: em($ratio--m);
}

.m-portfolio__button {
  // float: right;

  .rsSlide:last-child & {
    margin-bottom: em($ratio--l);
  }
}

.m-portfolio__hint {
  position: absolute;
  left: em($ratio--xl);
  right: em($ratio--xl);
  bottom: em($ratio--m);
  // @include position(absolute, null 0 22.5% null);

  // width: 20%;

  text-align: center;

  transition: transform $duration--b, opacity $duration--b, visibility 0 $duration--b;

  visibility: hidden;
  opacity: 0;
  transform: translateX(em($ratio--l));

  .carousel--at-end & {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);

    transition-delay: 0;
  }
}
