main#about.m-about.m-about--long.l-section--white
  .l-wrap.l-wrap--section

    header.m-about__header
      h1.m-about__title.t-h2
        span.t-gradient--3 About Us

      p.m-about__intro.t-lead.t-antiqua
        | Some text about what sets us apart, what makes us special. 
        +dummy(10)

    .m-about__text.l-grid--2
      .l-grid__item--2
        p We have offices in London, Munich, and two in the Czech Republic, where Little Greta originates and where much of our team and infrastructure remains.
        p Our clients benefit from our membership of United Advertising Network, a&nbsp;global pool of agencies sharing the sector's latest innovations, best practice and market research.
      .l-grid__item--2
        p They also benefit from our partnership with the Faculty of Multimedia Communication where we offer work experience to some of the Czech Republic’s brightest and most creative students.

    aside.m-about__partners
      strong.m-about__smallcaps.t-smallcaps--light Our Partners

      a.o-image-link(href="http://www.unitedadnet.net/", title="A member of United Advertising Network")
        img(src="assets/images/logo_unitedadnet.png" alt="United Adnet")
      a.o-image-link(href="http://web.fmk.utb.cz/?lang=en", title="Partner of FMC TBU")
        img(src="assets/images/logo_fmc.png", alt="Tomas Bata University in Zlin, FMC")
