section#news.m-news.o-blur--grey(data-toward)
  .o-fog

  .m-news__slider.o-slider.royalSlider(data-slider)
    each instance in [529, 182, 304]

      article.m-news__item.o-slider__item

        .m-news__overlay.o-slider__overlay.l-wrap
          .m-news__content.o-slider__content
            h2.t-h2
              +dummy(6, "words")
            p.t-big
              +dummy(20, "text")
            a(href="#").o-slider__button.o-button--text.o-button--big.ss-play.right Watch

        a.o-slider__image.rsImg(href="http://unsplash.it/1440/800/?image=#{instance}") unsplash.it
