@mixin head--1($type: false) {
  font-size: 1.75em;
  line-height: $leading--xs;

  @include media("≥tablet") {
    font-size: 3em;
  }

  @include media("≥desktop") {
    font-size: $font--700;
    line-height: $leading--xxs;
  }

  @if $type == "bold" {
    font-weight: $font__sans--bold;
  } @else if $type == "regular" {
    font-weight: $font__sans--regular;
  } @else {
    font-weight: $font__sans--light;
  }
}

@mixin head--2 {
  font-size: 1.5em;
  font-weight: $font__sans--regular;
  line-height: $leading--xs;

  @include media("≥tablet") {
    font-size: 2.5em;
  }

  @include media("≥laptop") {
    font-size: $font--600;
  }
}

@mixin head--3($light: true) {
  font-size: 1.25em;
  font-weight: $font__sans--regular;
  line-height: $leading--s;

  @include media("≥tablet") {
    font-size: 1.5em;
  }

  @include media("≥laptop") {
    font-size: $font--500;
    line-height: $leading--s;

    @if $light == "true" {
      font-weight: $font__sans--light;
    }
  }
}
