[class^="t-underline--"],
[class*=" t-underline--"] {
  border-bottom: $line--s solid;
}
.t-underline--1 {
  border-bottom-color: $color-4;
}
.t-underline--2 {
  border-bottom-color: $color-1--light;
}
.t-underline--3 {
  border-bottom-color: $color-1--lighter;
}
.t-underline--4 {
  border-bottom-color: $color-3;
}
.t-underline--5 {
  border-bottom-color: $color-2;
}

[class^="t-gradient"],
[class*=" t-gradient"] {
  background-size: 100% $line--b;
  background-position: center 96%;

  background-repeat: repeat-x;

  @include media("≥desktop") {
    background-size: 100% $line--m;
  }
}

.t-gradient--small {
  background-size: 100% $line--b;
}

.t-gradient--1 {
  background-image: #{"linear"}-gradient(to left, $color-1--lighter, $color-1--darker);
}
.t-gradient--2 {
  background-image: #{"linear"}-gradient(to right, $color-2--lighter, $color-2--darker);
}
.t-gradient--3 {
  background-image: #{"linear"}-gradient(to left, $color-3--light, $color-3--dark);
}
.t-gradient--light {
  background-image: #{"linear"}-gradient(to left, $grey--800, $grey--600);
}
.t-gradient--dark {
  background-image: #{"linear"}-gradient(to right, $grey--500, $grey--300);
}
.t-gradient--opaque {
  background-image: #{"linear"}-gradient(to right, rgba(white, .5), rgba(white, .25));
}

@mixin a-caps($bold: true) {
  font-size: .875em;

  @include media("≥tablet") {
    font-size: 1em;
  }

  letter-spacing: .09375em;
  text-transform: uppercase;

  @if $bold {
    font-weight: $font__sans--bold;
  }
  @else {
    font-weight: $font__sans--regular;
  }
}

@mixin a-smallcaps {
  font-size: .75em;

  @include media("≥tablet") {
    font-size: .875em;
  }

  font-weight: $font__sans--regular;
  letter-spacing: .125em;
  text-transform: uppercase;
}

@mixin p--big {
  font-size: 1.125em;

  @include media("≥desktop") {
    font-size: 1.5em;
  }

  @include media("≥widescreen") {
    font-size: $font--500;
    font-weight: $font__sans--light;
    line-height: $leading--s;
  }
}
