[class^="t-underline--"],
[class*=" t-underline--"] {
  border-bottom: $line--s solid;
}
.t-underline--1 {
  border-bottom-color: $color-4;
}
.t-underline--2 {
  border-bottom-color: $color-1--light;
}
.t-underline--3 {
  border-bottom-color: $color-1--lighter;
}
.t-underline--4 {
  border-bottom-color: $color-3;
}
.t-underline--5 {
  border-bottom-color: $color-2;
}

.t-antiqua {
  font-family: $font__serif;
  font-weight: $font__serif--book;
}

[class^="t-gradient"],
[class*=" t-gradient"] {
  background-size: 100% $line--b;
  background-position-y: 95%;

  background-repeat: repeat-x;

  @include media($desktop) {
    background-size: 100% $line--m;
  }
}

.t-gradient--small {
  background-size: 100% $line--b;
}

.t-gradient--1 {
  background-image: #{"linear"}-gradient(to left, $color-1--lighter, $color-1--darker);
}
.t-gradient--2 {
  background-image: #{"linear"}-gradient(to right, $color-2--lighter, $color-2--darker);
}
.t-gradient--3 {
  background-image: #{"linear"}-gradient(to left, $color-3--light, $color-3--dark);
}
.t-gradient--light {
  background-image: #{"linear"}-gradient(to left, $grey-8, $grey-6);
}
.t-gradient--dark {
  background-image: #{"linear"}-gradient(to right, $grey-5, $grey-3);
}
.t-gradient--opaque {
  background-image: #{"linear"}-gradient(to right, rgba(white, .5), rgba(white, .25));
}

[class^="t-caps"],
[class*=" t-caps"] {
  font-size: em($unit--s);

  @include media($large) {
    font-size: em($ratio--b);
  }

  font-weight: $font__sans--bold;
  letter-spacing: em($ratio--t);
  text-transform: uppercase;
}
.t-caps--1 {
  color: $color-1;
}

[class^="t-smallcaps"],
[class*=" t-smallcaps"] {
  font-size: em($unit--xs);

  @include media($large) {
    font-size: em($unit--s);
  }

  font-weight: $font__sans--medium;
  letter-spacing: em($ratio--t);
  text-transform: uppercase;
}
// Used in intro hint
.t-smallcaps--1 {
  color: $color-1--lighter;
}
.t-smallcaps--light {
  color: $grey-4;
}
