// Used in language switch, exit--light.
.i-link--light {
  @include state--link {
    color: rgba(white, .75);
  }
  @include state--hover {
    color: white;
  }
}

@mixin link--white {
  @include state--link {
    color: white;
  }
  @include state--hover {
    color: rgba(white, .75);
  }
}

@mixin link--black {
  @include state--link {
    color: black;
  }
  @include state--hover {
    color: rgba(black, .75);
  }
}

// Used in works exit
.i-link--dark {
  @include state--link {
    color: $grey-4;
  }
  @include state--hover {
    color: $grey-6;
  }
}

// Used in portfolio hint.
.i-link--2 {
  @include state--link {
    color: $color-1--lighter;
  }
  @include state--hover {
    color: $color-1;
  }
}

@mixin link--default {
  &:link, &:visited {
    color: $color-1;
  }
  &:hover, &:active {
    color: $color-1--lighter;
  }
}
