// Used in language switch, exit--light.
.i-link--light {
  @include state--link {
    color: rgba(white, .75);
  }
  @include state--hover {
    color: white;
  }
}

// Used in works exit
.i-link--dark {
  @include state--link {
    color: $grey-4;
  }
  @include state--hover {
    color: $grey-6;
  }
}

// Used in portfolio hint.
.i-link--2 {
  @include state--link {
    color: $color-1--lighter;
  }
  @include state--hover {
    color: $color-1;
  }
}

// not used atm
// .i-link--dark {
//   @include state--link {
//     color: rgba($grey-2, .25);
//   }
//   @include state--hover {
//     color: rgba(white, .5);
//   }
// }
// .t-link--selected {
//   cursor: default;
//   color: $grey-4;
//   @include state--hover {color: $grey-4; }
// }
