a {
  &:link {
    color: $c-link;
  }
  &:visited {
    color: $c-visited;
  }
  &:hover {
    color: $c-hover;
  }
  &:active {
    color: $c-active;
  }
}

nav a {
  text-decoration: none;
}

@mixin link--white {
  @include state--link {
    color: white;
  }
  @include state--hover {
    color: rgba(white, .75);
  }
}

@mixin link--black {
  @include state--link {
    color: black;
  }
  @include state--hover {
    color: rgba(black, .75);
  }
}

@mixin link--default {
  &:link, &:visited {
    color: $color-1;
  }
  &:hover, &:active {
    color: $color-1--lighter;
  }
}
