header.o-header
  a.o-logo(href="index", data-logo)
    .o-logo__content
      include ../../svg/_build/logo_big.svg
      strong.o-logo__title Little Greta
    span.o-logo__tooltip

  //- .l-wrapper.l-wrapper--only-horizontal
  //-   a.o-logo--main(href="#", title="Go to Homepage")
  //-     h1
  //-       | Little Greta
  //-       span.o-logo--big
  //-       span.o-logo--small
  //-   nav.o-nav--main
  //-     ul.o-nav__pages
  //-       li: a(href="#about-us") About Us
  //-       li: a(href="#portfolio") Portfolio
  //-       li: a(href="#people") People
  //-       li: a(href="#blog") Blog
  //-       li: a(href="#contact") Contact
  //-     ul.o-nav__language
  //-       li: a.is-selected(href="#", data-title="Switch to English") EN
  //-       li: a(href="#", data-title="Switch to German") DE
  //-       li: a(href="#", data-title="Switch to Czech") CZ
