extends templates/_basic

append template-body
  include partial/_header

  include section/_top
  include section/_news
  include section/_about
  include section/_portfolio
  include section/_people

  //- include section/blog
  //- include section/contact