// First headline
//
// .t-h1--small - Small variant.
//
// Markup:
// <h1 class="t-h1 {$modifiers}">First Headline</h1>
//
// Styleguide 2.0.

.t-h1 {
  font-family: $font__display;
  // font-size: em($ratio--xxl);
  font-size: em($ratio--l);
  font-weight: $font__display--book;

  @include margin(em($ratio--t) null);
}

.t-h1__emphasis {
  display: inline-block;
  vertical-align: 20%;

  color: $grey-7;

  font-family: $font__sans;
  font-weight: $font__sans--bold;
  font-size: .4em;
  text-transform: uppercase;
  letter-spacing: em($ratio--t);

  border-bottom: $line--b solid $grey-8;
}

// Second headline
//
// .t-h2--section - Centered.
//
// Markup:
// <h2 class="t-h2 {$modifiers}">Second Headline</h2>
//
// Styleguide 2.1.

.t-h2 {
  // font-size: em($ratio--xl);
  font-size: em($unit--xxl);
  font-weight: $font__sans--light;
  line-height: $spacing--xxs;

  @include margin(em($ratio--xs) null);
}

// Third headline
//
// Markup:
// <h3 class="t-h3 {$modifiers}">Third Headline</h3>
//
// Styleguide 2.2.

.t-h3 {
  // font-size: em($ratio--l);
  // font-weight: $font__sans--bold;
  font-size: em($unit--xl);
  font-weight: $font__sans--medium;
  line-height: $spacing--xs;

  @include margin(em($ratio--xs) null);
}

// Fourth headline
//
// Markup:
// <h4 class="t-h4 {$modifiers}">Fourth Headline</h4>
//
// Styleguide 2.3.

.t-h4 {
  // font-size: em($ratio--m);
  font-size: em($unit--l);
  font-weight: $font__sans--bold;

  line-height: $spacing--s;

  @include margin(em($ratio--s) null);
}

// Fifth headline
//
// Markup:
// <h5 class="t-h5 {$modifiers}">Fifth Headline</h5>
//
// Styleguide 2.4.

.t-h5 {
  font-size: em($unit--l);
  font-weight: $font__sans--medium;
  // letter-spacing: em($ratio--t);
  // text-transform: uppercase;

  @include margin(em($ratio--s) null);
  // padding-left: em($ratio--t);
}
