extends _basic

append template-head
  = '\n'
  <!-- build:css /assets/css/style-min.css -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- endbuild -->

block template-body
  include /../bower_components/chj-framework/app/assets/jade/mixins/_dummy
  include ../mixins/_intro-nav
  include ../mixins/_about

block template-content
  p Basic template.

append template-foot
  = '\n'
  <!-- build:js /assets/js/site-min.js -->
  <!-- inject:js -->
  <!-- endinject -->
  <!-- endbuild -->
