main.m-about.m-about--short.l-section--light
  .l-wrap.l-wrap--section

    header.m-about__header
      h1.m-about__title.t-h1
        span.t-gradient--1 Little
        | 
        span.t-h1__emphasis but
        | 
        span.t-gradient--2 Great
      p.m-about__intro.t-lead.t-antiqua We started out as university students and have grown into a&nbsp;full service agency operating in four countries around the globe. As an owner-operated business both partners, Jan and Tom, are involved everyday in all agency&rsquo;s activities &mdash; and they love what they do.

    section.m-services
      h3.m-services__title.t-h3 What we do
      
      .m-services__container
        article.m-services__item--digital
          .m-services__icon
            .m-services__circle
          h4.m-services__name.t-h4 Digital
          ul.m-services__list.o-dotlist--inside
            li Web design and development
            li Web apps, microsites
            li Mobile apps
            li UX, GUI
            li Social media

        article.m-services__item--graphic
          .m-services__icon
            .m-services__circle
          h4.m-services__name.t-h4 Graphic Design
          ul.m-services__list.o-dotlist--inside
            li Corporate design
            li Brand design
            li Print
            li POS, POP
            li Packaging
            li Illustration

        article.m-services__item--multimedia
          .m-services__icon
            .m-services__circle
          h4.m-services__name.t-h4 Multimedia
          ul.m-services__list.o-dotlist--inside
            li Video
            li Animation
            li Motion graphics
            li Photography
            li 3D visualization

        article.m-services__item--creation
          .m-services__icon
            .m-services__circle
          h4.m-services__name.t-h4 Creation
          ul.m-services__list.o-dotlist--inside
            li Strategy
            li Idea making
            li Copywriting
            li Content management
            li Translation

    .m-about__outro
      a.o-cta.o-cta--light.ss-usergroup(href="about-us") Get to know us better

    .m-about__partners
      strong.m-about__smallcaps.t-smallcaps--light We love and support
      
      a.o-image-link(href="http://www.unitedadnet.net/", title="A member of United Advertising Network")
        img(src="assets/images/logo_unitedadnet.png" alt="United Adnet")
      a.o-image-link(href="http://web.fmk.utb.cz/?lang=en", title="Partner of FMC TBU")
        img(src="assets/images/logo_fmc.png", alt="Tomas Bata University in Zlin, FMC")
      a.o-image-link(href="http://www.flaneurs.eu", title="Flaneurs")
        img(src="assets/images/logo_flaneurs.png", alt="Flaneurs")
      a.o-image-link(href="http://kreativnizlin.cz/en/", title="Kreativní Zlín")
        img(src="assets/images/logo_kreativnizlin.png", alt="Kreativní Zlín")
