main.m-about
  .m-about__wrap

    header.m-about__header
      h1.m-about__title
        span.t-gradient--1 Little
        | 
        span.m-about__emphasis but
        | 
        span.t-gradient--2 Great

      p.m-about__intro In 2005, still at university, we started Little Greta. Since then we've grown into a full service communication and design agency operating in four countries around the world. In 2016 we set up in London, one the world's greatest cities, to further accelerate our global growth.

    section.m-services
      article.m-services__item
        h1.m-services__name--graphic Graphic Design
        ul.m-services__list
          li Corporate design
          li Brand design
          li POS, POP
          li Packaging
          li Illustration

      article.m-services__item
        h1.m-services__name--digital Digital
        ul.m-services__list
          li Web design and build
          li Web apps, microsites
          li Mobile apps
          li UX, GUI
          li Social media

      article.m-services__item
        h1.m-services__name--multimedia Multimedia
        ul.m-services__list
          li Video
          li Animation
          li Motion graphics
          li Photography
          li 3D visualization

      article.m-services__item
        h1.m-services__name--creation Creation
        ul.m-services__list
          li Strategy
          li Conceptualisation
          li Copywriting
          li Content management
          li Translation

    .m-about__outro
      a.o-cta--light(href="about-us") Get to know us better
