section.m-blog
  
  h3.m-blog__title.t-h3
    | &hellip;&thinsp;
    span.t-gradient--opaque and their Thoughts
  
  .m-blog__feed(data-tumblr, data-feed)
    .o-sizer--column(data-column)
    .o-sizer--gutter(data-gutter)
    <?php require "assets/php/vendor/TwitterAPIExchange.php"; ?>
    <?php require "assets/php/twitter-config.php"; ?>
    <?php require "assets/php/twitter-setup.php"; ?>
