.m-footer__wrap.l-wrap.l-wrap--section

  h2.m-footer__title.t-h2
    span.t-gradient--dark.t-gradient--small Get in Touch

  .m-footer__outro
    p.t-lead.t-antiqua We have offices in London, Munich, Boston and two in the Czech Republic, where Little Greta originates and where much of our team and infrastructure remains.
    a.o-cta.o-cta--dark.ss-mail(href="mailto:info@littlegreta.co.uk") Contact Us
    a.o-cta.o-cta--black.ss-globe(href="contact-us") Where to Find Us

  - var exit = {current: "Home", theme: "dark"}
  include ../partial/_exit
