section.m-featured
  .m-featured__wrap
    .m-featured__header
      h1.m-featured__title Selected Projects

    .m-featured__loop
      each item, index in ["IF2MIzP2wXI", "Qe_dS4-jO6E", "HmREZuu4XuY", "asZvnGnpL7Q"]
        a(href="javascript:").m-featured__item.o-work.portfolio--large
          .o-work__holder
            img.o-work__image(src="http://source.unsplash.com/" + item + "/16x10", data-src="http://source.unsplash.com/" + item + "/1440x810", alt="featured image")
          .o-work__info
            strong.o-work__name
              faker-name-title/
            p.o-work__description
              +dummy(100, "chars")
              | &emsp;
            if index % 2 == 0
              mark.o-work__hint Visit Site
                include ../../svg/caret-right.svg
            else
              mark.o-work__hint Read Success Story
                include ../../svg/caret-right.svg

    a.m-featured__button.o-cta--light(href="our-work") View More Projects
