section.m-intro#js-scrollmagic(style="background-image: url('assets/images/" + intro.background + "')")

  .m-intro__overlay.l-wrap.l-wrap--horizontal

    .m-intro__content
      h1.m-intro__text.t-huge.o-gradient--1!= intro.text

a(href=intro.anchor, data-scrollto="center").m-intro__lift
  mark.m-intro__mark.t-smallcaps.o-iconed--small.ss-down= intro.hint
