section.m-people.l-section--light
  .l-wrap.l-wrap--section

    h3.m-people__title.t-h3
      span.t-gradient--3 Our People...

    .m-people__list
      each group in departments

        - var memberCount = 5
        case group.title
          when "sales"
            - memberCount = 4
          when "creative"
            - memberCount = 11

        - var i = 0
        while i < memberCount

          - var random = Math.floor((Math.random() * 2))
          - var person = group.members[random]

          div.o-person(class="o-person--" + group.title, data-hover)
            .o-person__portrait
              .o-person__circle.o-circle
                img.o-person__image(src="assets/images/people/" + person.image, alt="Portrait of " + person.name)

            .o-person__info
              strong.o-person__name.t-caps= person.name
              small.o-person__position.t-small
                span.o-person__group= group.title.charAt(0).toUpperCase() + group.title.slice(1)
                != person.position

              .o-person__detail
                .o-person__content
                  strong Education
                  != person.education

                  strong Hobbies
                  != person.hobbies

                  strong 3 Love Brands
                  != person.favourites
          - i++
