section#portfolio.m-portfolio.o-blur--grey(data-portfolio)

  .m-portfolio__slider.o-slider(data-carousel)

    each instance, index in [141, 416, 426, 447, 555, 20, 40]

      - var itemClass
      - if (index === 6)
        - itemClass = "o-slider__item--last"

      article.m-portfolio__item.o-slider__item(data-hover, class=itemClass)
        .m-portfolio__overlay.o-slider__overlay.l-wrap

          .m-portfolio__content.o-slider__content
            h3.t-h3
              +dummy(5, "words")
            p.m-portfolio__info
              +dummy(30, "text")
            a(href="case-study").m-portfolio__button.o-slider__button.o-button--text.ss-zoomin.right Read More

        a.o-slider__image.rsImg(href="http://unsplash.it/2320/1600/?image=#{instance}") unsplash.it

  a(href="our-work").m-portfolio__hint.o-button--text.o-button--medium.i-link--2.ss-right.right View Portfolio
