section.m-portfolio
  .m-portfolio__wrap
    h1.m-portfolio__title Selected Projects

    .m-portfolio__loop
      each item in ["IF2MIzP2wXI", "Qe_dS4-jO6E", "HmREZuu4XuY", "asZvnGnpL7Q"]
        a(href="javascript:").m-portfolio__item
          .m-portfolio__holder
            img.m-portfolio__image(src="http://source.unsplash.com/" + item + "/16x10", data-src="http://source.unsplash.com/" + item + "/1440x810", alt="Portfolio image")
          .m-portfolio__info
            strong.m-portfolio__name
              faker-name-title/
            p.m-portfolio__description
              +dummy(25)

    a.m-portfolio__button.o-cta--light(href="javascript:") View More Projects
