.m-about {
  position: relative;
  z-index: $index--b;
}

.m-about__header {
  @include collapse-children;
  @include clearfix;
}
.m-about__title {
  text-align: center;
  
  color: $grey-1;
}
.m-about__intro {
  text-align: center;

  margin-top: 0;

  @include media($tablet) {
    @include span-columns(7 of $columns__tablet);
    @include shift(1);
  }

  @include media($desktop) {
    @include span-columns(8 of $columns__desktop);
    @include shift(2);
  }
}
.m-about__outro {
  // @include span-columns(10);
  // @include shift(1);
  // @include media($large) {
  //   margin-top: em($ratio--b);
  // }
}
.m-about__subtitle {
  text-align: center;

  @include media($large) {
    margin-bottom: em($ratio--m);
  }
}
.m-about__partners {
  @include media($large) {
    margin-top: em($ratio--m);
  }

  text-align: center;
}
.m-about__smallcaps {
  display: block;

  margin-bottom: em($ratio--b);
}
