.m-about {
  position: relative;
  z-index: $index--l;
}

.m-about__header {
  @include collapse-children;
  @include clearfix;
}

.m-about__title {
  text-align: center;
  
  .m-about--short & {
    color: $grey-1;
  }
  .m-about--long & {
    color: $grey-2;
  }
}

.m-about__intro {
  text-align: center;

  @include media($tablet) {
    @include span-columns(7 of $columns__tablet);
    @include shift(1 of $columns__tablet);
  }

  @include media($desktop) {
    @include span-columns(8 of $columns__desktop);
    @include shift(2 of $columns__desktop);
  }

  .m-about--short & {
    margin-top: 0;
  }
  .m-about--long & {
    color: $grey-3;

    @include media($small) {
      text-align: left;
    }
  }
}
.m-about__outro {
  text-align: center;

  @include media($desktop) {
    @include span-columns(6 of $columns__desktop);
    @include shift(3 of $columns__desktop);

    margin-top: em($ratio--m);
  }
}

.m-about__partners {
  text-align: center;
}
.m-about__smallcaps {
  display: block;

  margin-bottom: em($ratio--b);
}

// --long only
.m-about__text {
  @include media($large) {
    margin-top: em($ratio--l);

    margin-bottom: em($ratio--m);
  }
}
