.m-contact {
  text-align: center;

  position: relative;
  z-index: $index--l;
}

.m-contact__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.m-contact__item {
  margin: 1em;
  flex-basis: 11em;
}

.m-contact__title {
  color: $grey-2;

  margin-bottom: em($ratio--s);
}

.m-contact__name {
  color: $grey-2;
}

.m-contact__circle {
  @include margin(em($ratio--m) auto null);

  filter: grayscale(100%);
}

.m-contact__details {
  ul {
    padding-left: 0;

    list-style: none;

    &:last-child {
      color: $grey-6;
      margin-bottom: em($ratio--s);

      @include media($portable) {
        min-height: em(48);
      }
    }
  }
}

[class^="m-contact__button"],
[class*=" m-contact__button"] {
  text-decoration: none;

  @include a-caps(false);
}

.m-contact__button--1 {
  @include state--link {
    color: $color-4;
  }
  @include state--active {
    color: $color-4--dark;
  }
}
.m-contact__button--2 {
  @include state--link {
    color: $color-1--light;
  }
  @include state--active {
    color: $color-1;
  }
}
.m-contact__button--3 {
  @include state--link {
    color: $color-1--lighter;
  }
  @include state--active {
    color: $color-1--light;
  }
}
.m-contact__button--4 {
  @include state--link {
    color: $color-3;
  }
  @include state--active {
    color: $color-3--dark;
  }
}
.m-contact__button--5 {
  @include state--link {
    color: $color-2;
  }
  @include state--active {
    color: $color-2--dark;
  }
}
