.m-contact {
  text-align: center;

  &__wrap {
    @include wrap;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: -.5em auto;
    max-width: 100em;
  }

  &__item {
    flex-basis: 10em;
    margin: .5em 0;

    @include media("≥phablet") {
      flex-basis: 12.5em;
    }
    @include media("<widescreen") {
      font-size: .875em;
    }
  }

  &__title {
    @include head--2;
  }

  &__name {
    color: $grey--200;

    font-size: 1.25em;
    font-weight: $font__sans--regular;

    @include media("≥tablet") {
      font-size: 1.5em;
    }

    @include margin(0 null .625em);
  }

  &__circle {
    @include margin(1.625em auto null);

    filter: grayscale(100%);
  }

  &__details {
    ul {
      padding-left: 0;
      list-style-type: none;

      &:last-child {
        color: $grey--600;
        margin-bottom: 0;
      }
    }
  }

  @at-root [class^="m-contact__button"],
  [class*=" m-contact__button"] {
    text-decoration: none;

    @include a-caps(false);
  }

  &__button--1 {
    @include state--link {
      color: $color-4;
    }
    @include state--active {
      color: $color-4--dark;
    }
  }
  &__button--2 {
    @include state--link {
      color: $color-1--light;
    }
    @include state--active {
      color: $color-1;
    }
  }
  &__button--3 {
    @include state--link {
      color: $color-1--lighter;
    }
    @include state--active {
      color: $color-1--light;
    }
  }
  &__button--4 {
    @include state--link {
      color: $color-3;
    }
    @include state--active {
      color: $color-3--dark;
    }
  }
  &__button--5 {
    @include state--link {
      color: $color-2;
    }
    @include state--active {
      color: $color-2--dark;
    }
  }
}
