.m-feed {
  text-align: center;

  @include wrap--slim;
  @include container(90em);

  &__title {
    @include head--3;
    margin-bottom: 1em;
  }

  &__loop {
    display: flex;
    flex-wrap: wrap;

    margin: -.25em;
  }

  &__item {
    display: flex;
    flex-grow: 1;
    flex-basis: 50%;

    text-decoration: none;

    @include media("<desktop") {
      font-size: .75em;
    }
    @include media("≥tablet") {
      flex-basis: 25%;
    }
  }

  &__holder {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    width: calc(50% - .5em);
     
    margin: .25em;
    overflow: hidden;

    background-color: black;

    @include media("≥desktop") {
      width: calc(50% - 1em);
      margin: .5em;
    }
  }

  &__image {
    position: absolute;

    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: opacity .25s, transform 10s;

    .m-feed__item:hover & {
      opacity: .75;
      transform: scale(1.1);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    color: white;
    background-color: black;

    transition: background-color .25s;

    margin: .25em;
    padding: 1em;
    min-height: 13em;

    @include media("≥desktop") {
      margin: .5em;
      padding: 2em;
    }

    .media--facebook & {
      flex-grow: 1;

      background-color: $c-facebook;
    }
    .media--facebook:hover & {
      background-color: $c-facebook--hover;
    }

    .media--twitter & {
      flex-grow: 1;

      background-color: $c-twitter;
    }
    .media--twitter:hover & {
      background-color: $c-twitter--hover;
    }

    .media--instagram & {
      flex-grow: 1;

      position: relative;
      margin-left: calc(50% + .25em);

      background-image: $gradient--instagram;

      @include media("≥desktop") {
        margin-left: calc(50% + .5em);
      }

      &:before {
        content: "";
        position: absolute;

        left: 0;
        top: 50%;
        transform: translate(-.5em, -50%);
        transition: transform .25s;

        border: 1em solid transparent;
        border-left-color: white;

      }
    }
    .media--instagram:hover &:before {
      transform: translate(0, -50%);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1.375em;
    height: 1.375em;

    line-height: 0;
  }

  &__date {
    color: currentColor;
    background-color: transparent;
    opacity: .8;

    font-size: .625em;
    text-transform: uppercase;
    letter-spacing: .125em;
  }

  &__outro {
    @include head--3("true");
    
    margin: 2.5em .5em 0;
  }

  &__link--facebook {
    &:link, &:visited {
      color: $c-facebook;
    }
  }
  &__link--twitter {
    &:link, &:visited {
      color: $c-twitter;
    }
  }

  &__link--instagram {
    position: relative;
    background-color: white;

    &:link, &:visited {
      color: $c-instagram;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: 100;
      pointer-events: none;

      width: 100%;
      height: 100%;

      background-image: $gradient--instagram;
      mix-blend-mode: overlay;
    }
  }
}

.media--instagram {
  position: relative;

  flex-basis: 100%;  

  @include media("≥tablet") {
    flex-basis: 50%;
  }
}

[class^="m-feed__link--"],
[class*=" m-feed__link--"] {
  display: inline-block;
  text-decoration: none;

  font-weight: $font__sans--bold;

  transition: transform .25s;

  &:hover, &:active {
    transform: translateY(-.125rem);
  }
}
