.m-featured {
  text-align: center;

  &__wrap {
    padding: 2em 2em 6em;

    @include collapse-children;
  }

  &__header {
    @include collapse-children;

    margin-bottom: 3em;
  }

  &__title {
    @include head--3;
  }

  &__loop {
    @include clearfix;
  }

  &__item {
    float: left;
    width: 50%;

    &:nth-child(2n+1) {
      clear: both;
    }
  }

  &__button {
    margin-top: 3em;
  }
}
