.m-featured {
  text-align: center;
  padding-bottom: 2em;

  &__wrap {
    @include slim-wrap;

    @include collapse-children;
  }

  &__title {
    @include head--3;
    margin-top: 0;
    margin-bottom: 1.5em;
  }

  &__loop {
    @include clearfix;
  }

  &__item {
    @include media($large) {
      float: left;
      width: 50%;

      &:nth-child(2n+1) {
        clear: both;
      }
    }
  }

  &__button {
    margin-top: 1.5em;

    @include media($large) {
      margin-top: 3em;
    }
  }
}
