.m-footer__title {
  text-align: center;

  color: white;

  margin-bottom: em($ratio--b);
}

.m-footer__wrap {
  background: url("../images/map_no_pins1.png") no-repeat center / cover;

  @include media($large) {
    background-image: url("../images/map_pins1.png");
  }
}

.m-footer__outro {
  text-align: center;

  @include media($desktop) {
    width: flex-grid(6, $columns__desktop);
    @include shift(3 of $columns__desktop);
  }
}
