.m-footer__title {
  text-align: center;

  color: white;
}

.m-footer__outro {
  text-align: center;

  @include media($desktop) {
    width: flex-grid(8, $columns__desktop);
    @include shift(2 of $columns__desktop);
  }
}
