.m-footer {
  color: $grey-4;
  background-color: $grey-0;

  @include short-wrap;

  @include media($small) {
    text-align: center;
  }

  &__body {
    @include media($large) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    @include link--white;
  }

  &__nav {
    @include media($small) {
      margin-top: 1.5em;
      margin-bottom: 1.5em;
    }
  }

  &__copyright {
    display: block;
    margin-top: 2em;

    font-size: .625em;
  }

  &__break {
    display: block;
  }
}
