.m-intro {
  text-align: center;

  color: $color-1;
  background-color: white;

  @include wrap;

  &__logo {
    margin-bottom: 1.25em;
  }

  &__title {
    max-width: 20em;
    margin: 0 auto;

    @include head--1(false);

    strong {
      font-weight: $font__sans--bold;
    }
  }

  &__text {
    max-width: 25em;
    margin: 0 auto;

    @include head--3(false);
  }

  &__nav {
    display: flex;
    justify-content: space-between;

    margin: 2em auto;
    max-width: $width--b;

    @include media("<tablet") {
      font-size: .75em;
    }

    @include media("≥desktop") {
      font-size: 1.125em;
    }

    & > * {
      animation: fadeIn .25s backwards;
    }

    @for $i from 1 through 5 {
      & > :nth-child(#{$i}) {
        animation-delay: $i * .0625s;
      }
    }
  }

  &__nav-link,
  &__nav-active,
  &__dropdown {
    padding: .5em;
  }

  &__nav-active {
    color: currentColor;
    background-color: transparent;

    opacity: .5;
  }

  &__dropdown {
    color: currentColor;
  }

  .m-intro__logo,
  .m-intro__nav-link {
    &:link, &:visited {
      color: currentColor;
    }
    &:hover, &:active {
      color: #444;
    }
  }
}

[class^="blur--"],
[class*=" blur--"] {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    pointer-events: none;

    width: 100%;
    height: 100%;
  }
}

.blur--blue {
  &:before {
    mix-blend-mode: overlay;
    background-image: radial-gradient(farthest-side at 25% 25%, hsb(190, 60, 100), hsb(260, 100, 20));
  }
}

.blur--teal {
  color: hsb(190, 90, 70);

  &:before {
    mix-blend-mode: overlay;
    background-image: radial-gradient(farthest-side at 75% 25%, hsb(170, 40, 100), hsb(210, 100, 20));
  }
}

.blur--purple {
  color: hsb(270, 80, 60);

  &:before {
    mix-blend-mode: color-dodge;
    background-image: radial-gradient(farthest-side at 75% 25%, hsb(330, 90, 60), hsb(220, 100, 40));
  }
}

.blur--green {
  color: hsb(120, 100, 30);

  &:before {
    mix-blend-mode: screen;
    background-image: radial-gradient(farthest-side at 25% 25%, hsb(70, 100, 80), hsb(160, 100, 40));
  }
}
