.m-locations {
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  color: white;
  background-color: $grey--050;

  @include media("<tablet") {
    padding-top: 7.5em;
  }

  @include media("另ablet") {
    min-height: 66.666vmin;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    height: 75%;

    background-repeat: no-repeat;
    background-size: 70vmax;

    @include media("另ablet") {
      height: 100%;
    }
  }

  &:before {
    left: 0;
    background-image: url("../images/map-left.svg");
    background-position: right center;

    width: 60%;

    @include media("另ablet") {
      width: 33.333%;
    }
  }
  &:after {
    right: 0;
    background-image: url("../images/map-right.svg");
    background-position: left center;

    width: 40%;

    @include media("另ablet") {
      width: 22.5%;
    }
  }

  &__wrap {
    @include wrap;

    position: relative;
    z-index: 10;
  }

  &__title {
    @include head--3;
    margin-bottom: 0;
  }

  &__outro {
    @include collapse-children;

    p {
      max-width: 20em;
      margin: 0 auto 1.5em;

      color: $grey--500;

      @include p--big;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin: -1em;
  }

  @at-root [class^="m-locations__button"],
  [class*=" m-locations__button"] {
    padding: .5em;
    margin: .5em;

    text-decoration: none;

    @include a-caps(false);
  }

  &__button--primary {
    &:link, &:visited {
      color: $color-3;
    }
    &:hover, &:active {
      color: $color-3--darker;
    }
  }
  &__button--secondary {
    &:link, &:visited {
      color: $color-4--light;
    }
    &:hover, &:active {
      color: $color-4--dark;
    }
  }
}
