.m-news {
  &__wrap {
    @include wrap--slim;
    padding-top: 0 !important;
  }

  &__grid {
    display: grid;
    grid-gap: .5em;

    @include media("≥tablet") {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1em;
    }

    @include media("≥desktop") {
      grid-gap: 2em;
    }
  }

  &__outro {
    text-align: center;

    padding-bottom: 1em;

    @include media("≥laptop") {
      padding-bottom: 2em;
    }
  }

  &__button {
    @include cta("light");

    margin-top: 1.5em;

    @include media("≥tablet") {
      margin-top: 3em;
    }
  }

  /* Index page */
  &__container {
    overflow: hidden;
  }
}
