.m-news {
  position: relative;

  background-color: $grey-2;

  .device--is-desktop & {
    margin-top: 42vh;
  }
}

.m-news__item {
  .top--is-off & .rsImg,
  .device--is-mobile & .rsImg {
    transition: opacity $duration--b;
    opacity: .25;
  }

  .top--is-off .rsActiveSlide & .rsImg,
  .device--is-mobile .rsActiveSlide & .rsImg {
    opacity: 1;
  }
}

.m-news__content {
  @include media($phablet) {
    @include shift(2 of $columns__phablet);
  }

  @include media($tablet) {
    @include shift(2 of $columns__tablet);
  }

  @include media($desktop) {
    @include shift(4 of $columns__desktop);
  }
}
