.m-people__title {
  @include new-head--b(false);

  color: black;
  text-align: center;
}

.m-people__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin-top: em($ratio--m);

  @include media($large) {
    margin-top: em($ratio--l);
  }
}
