.m-people {
  color: $grey-4;
  background-color: $grey-9;

  &__title {
    @include head--3;

    color: black;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin-top: em($ratio--m);

    @include media($large) {
      margin-top: em($ratio--l);
    }
  }  
}
