.m-portfolio {
  text-align: center;

  &__wrap {
    @include wrap--slim;
  }

  &__header {
    @include collapse-children;

    margin-bottom: 1.5em;

    @include media("≥tablet") {
      margin-bottom: 3em;
    }
  }

  &__title {
    @include head--2;
  }

  &__intro {
    color: $grey--200;

    @include container(30em);

    @include media("≥tablet") {
      font-size: 1.25em;
    }
  }

  &__loop {
    display: grid;

    @include media("≥tablet") {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__item {
    @include media("≥tablet") {
      grid-column: span 2;
    }
  }

  &__button {
    margin-top: 1.5em;

    @include media("≥desktop") {
      margin-top: 3em;
    }
  }
}

.portfolio--large {
  @include media("≥desktop") {
    grid-column: span 3;
  }
}
