.m-portfolio {
  text-align: center;

  &__wrap {
    padding: 6em 2em;

    @include collapse-children;
  }

  &__header {
    @include collapse-children;

    margin-bottom: 3em;
  }

  &__title {
    @include head--2;
  }

  &__intro {
    font-size: 1.25em;
    color: $grey-2;

    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
  }

  &__loop {
    @include clearfix;
  }

  &__item {
    &:nth-child(3),
    &:nth-child(3n+5) {
      clear: both;
    }
  }

  &__button {
    margin-top: 5em;
  }
}

@include media($widescreen) {
  .portfolio--large {
    float: left;
    width: 50%;
  }

  .portfolio--small {
    float: left;
    width: 33.333%;
  }  
}
