.m-portfolio {
  position: relative;

  overflow: hidden;
}

.m-portfolio__content {
  @include media($tablet) {
    @include shift(2 of $columns__tablet);
  }
}

.m-portfolio__item {
  .device--is-desktop & .rsImg {
    opacity: .25;
  }

  .rsActiveSlide & .rsImg {
    opacity: 1;
  }
}

.m-portfolio__info {
  @include media($desktop) {
    width: 75%;

    float: left;
  }

  margin-top: 0;
}

.m-portfolio__button {
  @include media($phablet) {
    display: block;

    text-align: center;
  }

  @include media($mobile) {
    .rsSlide:last-child & {
      margin-bottom: em($unit--xl);
    }
  }

  @include media($desktop) {
    float: right;
  }
}

.m-portfolio__hint {
  position: absolute;

  @include media($small) {
    left: em($ratio--xl);
    right: em($ratio--xl);

    bottom: em($ratio--m);
  }

  @include media($tablet) {
    text-align: right;

    right: em($ratio--l);

    bottom: em($ratio--l);
  }

  @include media($desktop) {
    width: 20%;

    right: 0;
    // Magic number FTW
    bottom: 22.5%;
  }

  text-align: center;

  transition: transform $duration--b, opacity $duration--b, visibility 0 $duration--b;

  visibility: hidden;
  opacity: 0;
  transform: translateX(em($ratio--l));

  .carousel--at-end & {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);

    transition-delay: 0;
  }
}
