.m-services {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;

  @include media($large) {
    display: flex;
    justify-content: space-between;
  }

  @include media($desktop) {
    margin-top: 4em;
  }

  @include media($widescreen) {
    font-size: 1.125em;
  }
}

[class^="m-services__name"],
[class*=" m-services__name"] {
  font-size: 1em;
  font-weight: $font__sans--bold;

  margin: 0;
}

.m-services__name--digital    {color: $color-1; }
.m-services__name--graphic    {color: $color-4; }
.m-services__name--multimedia {color: $color-3; }
.m-services__name--creation   {color: $color-2; }

.m-services__list {
  margin-top: .5em;
  padding-left: 0;

  color: $grey-3;
  list-style-type: none;

  @include media($desktop) {
    line-height: $spacing--m;
  }
}
