.m-services {
  @include clearfix;

  margin-top: 1em;
}

.m-services__container {
  @include clearfix;
}

.m-services__item {
  margin-top: em($unit--xxl);

  @include media($large) {
    margin-top: em($unit--l);
  }
  
  @include media($tablet) {
    @include span-columns($columns__tablet / 2 of $columns__tablet);
    @include omega(2n);
  }

  @include media($desktop) {
    @include span-columns(3 of $columns__desktop);
  }
}

[class^="m-services__name"],
[class*=" m-services__name"] {
  font-size: 1.5em;
  font-weight: $font__sans--bold;

  margin: 0;

  @include media($tablet) {
    overflow: auto;

    padding-left: em($ratio--b, $unit--l);
  }
  @include media($desktop) {
    margin-top: em($ratio--b);
  }
}

.m-services__name--digital    {color: $color-1; }
.m-services__name--graphic    {color: $color-4; }
.m-services__name--multimedia {color: $color-3; }
.m-services__name--creation   {color: $color-2; }

.m-services__list {
  margin-top: 1em;
  padding-left: 0;

  color: $grey-3;
  list-style-type: none;

  @include media($desktop) {
    line-height: $spacing--m;
  }
}
