.m-services {
  @include clearfix;

  @include media($small) {
    margin-top: em($ratio--m);
  }
  @include media($large) {
    margin-top: em($ratio--l);
  }
}

.m-services__title {
  color: $grey-2;

  text-align: center;
}

.m-services__container {
  @include clearfix;
}

[class^="m-services__item"],
[class*=" m-services__item"] {
  text-align: center;

  margin-top: em($unit--l);

  @include media($tablet) {
    @include span-columns($columns__tablet / 2);
    @include omega(2n);

    text-align: left;
  }
  @include media($desktop) {
    @include span-columns(3);
  }
}

.m-services__icon {
  max-width: em(100);

  @include margin(null auto);

  @include media($tablet) {
    width: 100%;

    float: left;

    margin-right: em($ratio--m);
  }
  @include media($desktop) {
    max-width: em($ratio--h);
  }
}

.m-services__circle {
  padding-bottom: 100%;
  border-radius: 50%;

  background: white no-repeat center / 60%;
}

.m-services__name {
  margin-bottom: 0;

  margin-top: em($ratio--s);

  @include media($tablet) {
    overflow: auto;

    padding-left: em($ratio--b, $unit--l);
  }
  @include media($desktop) {
    margin-top: em($ratio--b);
  }
}

.m-services__item--digital {
  .m-services__name {
    color: $color-1;
  }
  .m-services__circle {
    background-image: url("../images/about_digital.png");
  }
}
.m-services__item--graphic {
  .m-services__name {
    color: $color-4;
  }
  .m-services__circle {
    background-image: url("../images/about_graphic.png");
  }
}
.m-services__item--multimedia {
  .m-services__name {
    color: $color-3;
  }
  .m-services__circle {
    background-image: url("../images/about_multimedia.png");
  }
}
.m-services__item--creation {
  .m-services__name {
    color: $color-2;
  }
  .m-services__circle {
    background-image: url("../images/about_creation.png");
  }
}

.m-services__list {
  margin-top: em($ratio--xs);

  @include media($small) {
    li {
      display: inline-block;

      &:before {
        left: em($ratio--xxs);
      }

      &:first-child {
        padding-left: 0;
      }

      &:first-child:before {
        display: none;
      }
    }
  }

  @include media($large) {
    text-align: left;
  }

  @include media($tablet) {
    overflow: auto;
  }

  @include media($desktop) {
    display: inline-block;

    max-width: em(190);

    line-height: $spacing--m;
  }
}
