.m-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 350;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1.5em;

  @include media("≥laptop") {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  background-color: white;

  .menu--is-active & {
    bottom: 0;

    flex-direction: column;

    transform: translateY(0);
  }

  transform: translateY(-100%); /* Headroom */

  &__logo,
  &__button--open {
    transition: opacity $duration--xxl;

    .m-sticky:not(.headroom--pinned) & { opacity: 0; }
    .m-sticky.headroom--pinned & { transition-delay: $duration--l; }
  }

  &__nav {
    @include nav;

    @include media("<tablet") {
      display: none;
      font-size: 2.5em;
      font-weight: $font__sans--light;

      .menu--is-active & {
        display: block;
      }
    }
  }

  @at-root [class^="m-sticky__item"] {
    @include nav-item;

    .menu--is-active &,
    .headroom--pinned & {
      animation: appear $duration--xl $e-out__fast backwards;
    }

    @include media("<tablet") {
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          animation-delay: $i * $duration--xs;
        }
      }
    }
    @include media("≥tablet") {
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          animation-delay: $duration--l + $i * $duration--xs; /* After headroom finishes */
        }
      }
    }
  }
  &__item--active {
    @include nav-active;
  }

  &__placeholder {
    @include media("≥tablet") {
      width: 8em; /* Counterbalance to .m-sticky__logo */
    }
  }

  @at-root [class^="m-sticky__button"] {
    appearance: none;
    padding: .25em;
    border: 0;
    background-color: transparent;

    font-size: .875em;
    font-family: inherit;
    color: $color-1;
    line-height: 1;
    text-transform: uppercase;

    &:focus {
      outline: 0;
    }

    @include media("≥tablet") { display: none; }
  }

  &__button--open {
    letter-spacing: .125em;

    .menu--is-active & { display: none; }
  }

  &__button--close {
    position: absolute;
    top: .5em;
    right: .5em;

    font-size: 1.5em;

    body:not(.menu--is-active) & { display: none; }
  }
}
