.m-subscribe {
  text-align: center;
}

.m-subscribe__title {
  color: white;
}

.m-subscribe__text {
  color: $grey-9;

  margin-top: em($ratio--b);

  @include media($desktop) {
    margin-top: em($ratio--m);
  }

  @include media($desktop) {
    width: flex-grid(8, $columns__desktop);
    @include shift(2 of $columns__desktop);
  }
}

.m-subscribe__form {
  @include media($tablet) {
    margin-bottom: em($unit--m);
  }

  @include media($desktop) {
    display: inline-block;
  }
}
.m-subscribe__submit {
  @include media($small) {
    display: block;

    margin-top: em($ratio--xs);
  }

  color: $color-2--lighter;

  @include state--hover {
    color: $color-2;
  }

  // Optical alignment of icon
  &:after {
    position: relative;
    top: .125em;
  }
}
.m-subscribe__hint {
  display: inline-block;

  @include media($desktop) {
    margin-left: em($ratio--b);
  }
}
.m-subscribe__note {
  margin-right: em($ratio--b);
}
