.m-works {
  text-align: center;

  &__wrap {
    @include wrap;
  }

  &__loop {
    display: grid;
    grid-gap: 1em;

    @include media("≥phablet") {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media("≥tablet") {
      grid-template-columns: repeat(6, 1fr);
    }
    @include media("≥laptop") {
      grid-gap: 1em 2em;
    }
    @include media("≥desktop") {
      grid-gap: 1.5em 4em;
    }
  }

  &__button {
    @include cta("light");

    margin-top: 1.5em;

    @include media("≥tablet") {
      margin-top: 4em;
    }
  }

  &__header {
    @include collapse-children;
    margin-bottom: 2em;

    @include media("≥tablet") {
      margin-bottom: 3em;
    }
  }

  &__title {
    @include head--3;
  }

  &__wip {
    list-style-type: none;
    text-align: left;
    line-height: $leading--s;
    max-width: 70em;
    margin: 0 auto;

    padding-left: 0;

    li {
      margin-bottom: .5em;
    }

    span {
      color: $grey--600;
    }

    @include media("≥phablet") {
      display: flex;
      flex-wrap: wrap;
      padding-left: 3.5em; /* Optical center */

      li {
        flex-basis: 50%;
      }
    }

    @include media("≥tablet") {
      font-size: 1.25em;
    }
  }
}
