.m-works {
  text-align: center;

  &__wrap {
    @include wrap--slim;
  }

  &__header {
    @include collapse-children;

    margin-bottom: 1.5em;

    @include media("≥tablet") {
      margin-bottom: 3em;
    }
  }

  &__headline {
    @include head--2;
  }

  &__title {
    @include head--3;
  }

  &__intro {
    color: $grey--200;
    @include container(30em);

    @include media("≥tablet") {
      font-size: 1.25em;
    }
  }

  &__loop {
    display: grid;
    grid-gap: 1em;

    @include media("≥phablet") {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media("≥tablet") {
      grid-template-columns: repeat(6, 1fr);
    }
    @include media("≥laptop") {
      grid-gap: 1em 2em;
    }
    @include media("≥desktop") {
      grid-gap: 1.5em 4em;
    }
  }

  &__button {
    @include cta("light");

    margin-top: 1.5em;

    @include media("≥tablet") {
      margin-top: 4em;
    }
  }
}
