.m-works {
  text-align: center;

  &__wrap {
    @include wrap;
  }

  &__loop {
    display: grid;
    grid-gap: 1em;
    margin-top: 3em;

    @include media("≥phablet") {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media("≥tablet") {
      grid-template-columns: repeat(6, 1fr);
    }
    @include media("≥laptop") {
      grid-gap: 1em 2em;
    }
    @include media("≥desktop") {
      grid-gap: 1.5em 4em;
    }
  }

  &__button {
    @include cta("light");

    margin-top: 1.5em;

    @include media("≥tablet") {
      margin-top: 4em;
    }
  }

  &__header {
    @include collapse-children;
    margin-bottom: 2em;

    @include media("≥tablet") {
      margin-bottom: 4em;
    }
  }

  &__title {
    @include head--3;
    margin-bottom: 1.5em;
  }

  &__wip {
    list-style-type: none;
    line-height: $leading--s;
    max-width: 75em;
    margin: 0 auto;

    padding-left: 0;

    li {
      color: $grey--200;
      margin-bottom: .5em;
    }

    span {
      color: $grey--600;
      white-space: nowrap;
    }

    @include media("≥phablet") {
      columns: 2;
      column-gap: 1em;
    }

    @include media("≥desktop") {
      font-size: 1.125em;
    }

    @include media("≥widescreen") {
      font-size: 1.25em;
    }
  }
}
