.m-works__list {
  @include clearfix;
}


.m-warning {
  @include position(fixed, 0 null null 0);
  width: 100%;
  height: 100%;

  color: white;
  text-align: center;

  z-index: $index--xxl;

  background-color: $grey-0;
  background-color: rgba($grey-0, .95);
}

.m-warning__inner {
  width: em(450);

  @include margin(null auto);
}

.m-warning__text {
  color: $grey-6;
}

.m-warning__options {
  margin-top: em($ratio--l);
  @include margin(null auto);

  width: em(300);
}
