$font--sans: Helvetica, Arial, sans-serif;
$font--serif: Georgia, serif;

$width__content: 584px;
$width__narrow: 420px;

// Units
$unit--g:  152px;
$unit--xxl: 94px;
$unit--xl:  58px;
$unit--l:   36px;
$unit--m:   22px;
$unit--b:   14px;

$ratio--g:   178px;
$ratio--xxl: 110px;
$ratio--xl:   68px;
$ratio--l:    42px;
$ratio--m:    26px;
$ratio--b:    16px;
$ratio--s:    10px;
$ratio--xs:   6px;

// Colors

// Blue
$c-color1: #3A8DE1;
$c-color1--light: #75B9FF;

// Teal
$c-color2: #46D5C3;
$c-color2--light: #73E6D2;

// Green
$c-color3: #A9E441;
$c-color3--dark: #8EBF39;

$c-hover: #75b9ff;

$c-grey1: #F2F3F5;
$c-grey2: #ACB3BF;
$c-grey3: #707A8C;
$c-grey4: #707A8C;
$c-grey5: #4D5566;
$c-grey6: #2c2e34;
