.l-section {
  width: 100%;
  font-size: $unit--b;
}
.l-section--light {
  background-color: $c-grey1;
}
.l-section--dark {
  background-color: $c-grey5;
  background-image: url("http://www.littlegreta.co.uk/images/newsletter/bg_blue.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  color: white;
}
.l-section--black {
  background-color: $c-grey6;
  background-image: url("http://www.littlegreta.co.uk/images/newsletter/bg_black.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  color: white;
}
.l-table--inside {
  margin: $unit--m auto;
  width: 640px;
}
.l-table--content {
  margin: $unit--m auto;
  width: 584px;
}
.l-center {
  text-align: center;
}
.l-right {
  text-align: right;
}
.l-content {
  padding-left: 28px;
  padding-right: 28px;
}
.l-content--left {
  padding-left: 28px;
}
.l-content--right {
  padding-right: 28px;
}
.l-content--narrow {
  padding-left: $ratio--xxl;
  padding-right: $ratio--xxl;
}
.l-text-column {
  padding-top: $ratio--m;
  padding-bottom: $ratio--m;
  p {
    text-align: justify;
    font-size: $unit--b;
  }
}
.l-column {
  width: 184px;
  border-right: 1px solid #DADEE6;
  // .m-footer__vert {
  //   padding-top: 6px;
  // }
}
.l-spaced {
  padding-top: $ratio--s;
  padding-bottom: $unit--m;
}
.l-spaced--top {
  padding-top: $ratio--s;
}
.l-spaced--bottom {
  padding-bottom: $unit--m;
}
.l-full {
  width: 100%;
}