extends templates/_site

block template-content
  +sticky("about-us")

  .m-intro--teal(data-blur="#91F2F2, #006699")
    a.m-intro__logo.o-logo--normal(href="index")
      include ../svg/logo_symbol.svg
      strong.o-logo__text Little Greta
    h1.m-intro__text Meet good-karma believers, fair players, dreamers-but-doers and enthusiasts full of ideas.
    +introNav("about-us")

  section.o-hero--normal
    .o-hero__body(data-inview="long")
      img.o-hero__image(data-src="http://source.unsplash.com/wgivdx9dBdQ/1440x900", data-srcset="http://source.unsplash.com/wgivdx9dBdQ/800x500 800w, http://source.unsplash.com/wgivdx9dBdQ/1440x900 1440w, http://source.unsplash.com/wgivdx9dBdQ/1920x1200 1920w, http://source.unsplash.com/wgivdx9dBdQ/2880x1800 2880w" data-lazy alt="About Us image")

  +about("full")

  include section/_people
  include section/_blog

  +footer("about-us")
