extends templates/_site

block template-content
  +sticky("about-us")

  .m-intro.blur--teal
    a.m-intro__logo.o-logo--normal(href="index")
      include ../svg/logo_symbol.svg
      strong.o-logo__text Little Greta
    h1.m-intro__text Meet good-karma believers, fair players, dreamers-but-doers and enthusiasts full of ideas.
    +introNav("about-us")

  section.o-hero
    img.o-hero__image(data-src="http://source.unsplash.com/wgivdx9dBdQ/1920x1080", data-lazy, alt="About Us image")

  +about("full")

  include section/_people
  include section/_blog

  +footer("short", "about-us")
