extends templates/_site

block template-content
  +sticky(null)

  .m-intro--blue.blur--blue
    a.m-intro__logo.o-logo--normal(href="index")
      include ../svg/logo_symbol.svg
      strong.o-logo__text Little Greta
    h1.m-intro__text Bzenia Winery rebranding — how we created a new visual identity and an e-commerce website incorporating augmented reality.
    +introNav(null)

  .o-hero--normal
    .o-hero__body(data-inview="long")
      img.o-hero__image(data-src="http://source.unsplash.com/sj4M_cwUGB0/1440x900", data-srcset="http://source.unsplash.com/sj4M_cwUGB0/800x500 800w, http://source.unsplash.com/sj4M_cwUGB0/1440x900 1440w, http://source.unsplash.com/sj4M_cwUGB0/1920x1200 1920w, http://source.unsplash.com/sj4M_cwUGB0/2880x1800 2880w", data-lazy, alt="About Us image")

  main.o-description
    .o-description__section--aside
      h1.o-description__title(data-inview="short") Deliverables
      ul
        li(data-inview="short") Conceptualisation
        li(data-inview="short") Brand design
        li(data-inview="short") Packaging
        li(data-inview="short") Graphic Design
        li(data-inview="short") Web design and build
        li(data-inview="short") Social media
        li(data-inview="short") Photography
        li(data-inview="short") Image Retouching
        li(data-inview="short") Video
        li(data-inview="short") Augmented reality
        li(data-inview="short") Translations

    .o-description__section--body
      .o-description__block--primary
        h2.o-description__title(data-inview="short") Brief
        p(data-inview="short")
          +dummy(50, "text")
          | 
          a(href="javacript:") And this is what a link looks like.

      .o-description__block--secondary
        h2.o-description__title(data-inview="short") Action
        p(data-inview="short"): +dummy(60, "text")

      .o-description__block--secondary
        h2.o-description__title(data-inview="short") Result
        p(data-inview="short")
          +dummy(40, "text")
          | 
          a(href="javacript:") And this is what a link looks like.

  section.m-project__photos
    .o-gallery

      each size, index in ["medium", "small", "square", "full", "tall"]

        case size
          when "full"
            .o-gallery__item(class="item--" + size, data-inview="normal")
              .o-gallery__holder(class="holder--" + size)
                img.o-gallery__image(class="image--" + size, data-src="http://source.unsplash.com/random/1440x810?sig=" + (n * (index + 1)), data-srcset="http://source.unsplash.com/random/800x450?sig=" + (n * (index + 1)) + " 800w, http://source.unsplash.com/random/1440x810?sig=" + (n * (index + 1)) + " 1440w, http://source.unsplash.com/random/1920x1080?sig=" + (n * (index + 1)) + " 1920w, http://source.unsplash.com/random/2880x1620?sig=" + (n * (index + 1)) + " 2880w", data-lazy, alt="Dummy photo")

          when "small"
            - var n = 1
            while n <= 3
              .o-gallery__item(class="item--" + size, data-inview="normal")
                .o-gallery__holder(class="holder--" + size)
                  img.o-gallery__image(class="image--" + size, data-src="http://source.unsplash.com/random/800x600?sig=" + (n * (index + 1)), data-srcset="http://source.unsplash.com/random/800x600?sig=" + (n * (index + 1)) + " 800w, http://source.unsplash.com/random/1024x768?sig=" + (n * (index + 1)) + " 1024w, http://source.unsplash.com/random/1440x1080?sig=" + (n * (index + 1)) + " 1440w", sizes="(min-width: 760px) 33.333vw, 100vw", data-lazy, alt="Dummy photo")
              - n++

          when "medium"
            - var n = 1
            while n <= 2
              .o-gallery__item(class="item--" + size, data-inview="normal")
                .o-gallery__holder(class="holder--" + size)
                  img.o-gallery__image(class="image--" + size, data-src="http://source.unsplash.com/random/800x500?sig=" + (n * (index + 1)), data-srcset="http://source.unsplash.com/random/800x500?sig=" + (n * (index + 1)) + " 800w, http://source.unsplash.com/random/1440x900?sig=" + (n * (index + 1)) + " 1440w", sizes="(min-width: 760px) 50vw, 100vw", data-lazy, alt="Dummy photo")
              - n++

          when "square"
            - var n = 1
            while n <= 2
              .o-gallery__item(class="item--" + size, data-inview="normal")
                .o-gallery__holder(class="holder--" + size)
                  img.o-gallery__image(class="image--" + size, data-src="http://source.unsplash.com/random/800x800?sig=" + (n * (index + 1)), data-srcset="http://source.unsplash.com/random/800x800?sig=" + (n * (index + 1)) + " 800w, http://source.unsplash.com/random/1440x1440?sig=" + (n * (index + 1)) + " 1440w", sizes="(min-width: 760px) 50vw, 100vw", data-lazy, alt="Dummy photo")
              - n++

          when "tall"
            - var n = 1
            while n <= 3
              .o-gallery__item(class="item--" + size, data-inview="normal")
                .o-gallery__holder(class="holder--" + size)
                  img.o-gallery__image(class="image--" + size, data-src="http://source.unsplash.com/random/800x1200?sig=" + (n * (index + 1)), data-srcset="http://source.unsplash.com/random/800x1200?sig=" + (n * (index + 1)) + " 800w, http://source.unsplash.com/random/1440x2160?sig=" + (n * (index + 1)) + " 1440w", sizes="(min-width: 760px) 33.333vw, 100vw", data-lazy, alt="Dummy photo")
              - n++

  section.o-outro
    h4.o-outro__title Testimonial
    .o-outro__content
      blockquote.o-outro__quote.blur--purple “We’re now planning a mobile app enabling us to administer orders made during wine tastings as well as other things, including new packaging and social media. And, again, it will be with Little Greta.”
      span.o-outro__source Andy Hertzfeld

  section.m-related
    h4.m-related__head See Also
    +newsItem("a4xt7ieZ85A")

  +footer(null)
