extends templates/_site

block template-content
  +sticky(null)

  .m-intro.blur--blue
    a.m-intro__logo.o-logo--normal(href="index")
      include ../svg/logo_symbol.svg
      strong.o-logo__text Little Greta
    h1.m-intro__text Bzenia Winery rebranding — how we created a new visual identity and an e-commerce website incorporating augmented reality.
    +introNav(null)

  .o-hero
    img.o-hero__image(data-src="http://source.unsplash.com/sj4M_cwUGB0/1920x1080", data-lazy, alt="Case study image")

  main.o-description
    .o-description__aside
      h1.o-description__title Deliverables
      ul
        li Conceptualisation
        li Brand design
        li Packaging
        li Graphic Design
        li Web design and build
        li Social media
        li Photography
        li Image Retouching
        li Video
        li Augmented reality
        li Translations

    .o-description__body
      .o-description__block--primary
        h2.o-description__title Brief
        p
          +dummy(50, "text")
          | 
          a(href="javacript:") And this is what a link looks like.

      .o-description__block--secondary
        h2.o-description__title Action
        p: +dummy(60, "text")

      .o-description__block--secondary
        h2.o-description__title Result
        p
          +dummy(40, "text")
          | 
          a(href="javacript:") And this is what a link looks like.

  section.m-project__photos
    .o-gallery

      each size, index in ["medium", "small", "full", "small", "medium"]
        - var count, width, height
        case size
          when "full"
            - count = 1
            - width = 2880
            - height = 1620
          when "small"
            - count = 3
            - width = 960
            - height = 720
          when "medium"
            - count = 2
            - width = 1440
            - height = 900

        - var n = 1
        while n <= count
          .o-gallery__item(class="item--" + size)
            .o-gallery__holder(class="holder--" + size)
              img.o-gallery__image(class="image--" + size, data-src="http://source.unsplash.com/random/" + width + "x" + height + "?sig=" + (n * (index + 1)), data-lazy, alt="Dummy photo")
          - n++

  section.o-outro
    h4.o-outro__title Testimonial
    .o-outro__content
      blockquote.o-outro__quote.blur--purple “We’re now planning a mobile app enabling us to administer orders made during wine tastings as well as other things, including new packaging and social media. And, again, it will be with Little Greta.”
      span.o-outro__source Andy Hertzfeld

  section.m-news
    h4.m-news__head See Also
    a.m-news__item(href="case-study")
      .m-news__overlay
        h2.m-news__title Bzenia Winery 2013
        strong.m-news__hint Read Success Story
      img.m-news__image(data-src="http://source.unsplash.com/a4xt7ieZ85A/1920x1000", data-lazy, alt="Placeholder")

  +footer("short", null)
