extends templates/_site

block template-content
  +sticky("contact-us")

  .m-intro--purple.blur--purple
    a.m-intro__logo.o-logo--normal(href="index")
      include ../svg/logo_symbol.svg
      strong.o-logo__text Little Greta
    h1.m-intro__text We are a mere e-mail away from starting something amazing together.
    +introNav("contact-us")

  section.o-hero--slim
    .o-hero__body(data-inview="long")
      img.o-hero__image(data-src="assets/images/map-whole.svg", data-lazy, alt="Little Greta Office Locations")

  include section/_contact

  section.m-subscribe(data-inview="long")
    .m-subscribe__wrap
      h3.m-subscribe__title Stay Connected
      p.m-subscribe__text We publish interesting stuff. Be part of it.

      include partial/_mailchimp.html

  +footer("contact-us")
