extends templates/_site

block template-content
  +sticky("contact-us")

  .m-intro--purple.blur--purple
    a.m-intro__logo.o-logo--normal(href="index")
      include ../svg/logo_symbol.svg
      strong.o-logo__text Little Greta
    h1.m-intro__text We are a mere e-mail away from starting something amazing together.
    +introNav("contact-us")

  section.o-hero--slim(data-ruscha="indigo, orange, red, slateblue, crimson, gold, hotpink" data-orb="#2D004D, blue")
    .o-hero__content
      h1.o-hero__title Get in touch with any of our <mark data-mark data-present="container">5 offices</mark> located across <mark data-mark data-present="container">2 continents</mark>

  include section/_contact

  section.m-subscribe(data-inview="long")
    .m-subscribe__wrap
      h3.m-subscribe__title Stay Connected
      p.m-subscribe__text We publish interesting stuff. Be part of it.

      include partial/_mailchimp.html

  +footer("contact-us")
