extends templates/_site

block template-content
  - var sticky = {current: "Contact"}
  include partial/_sticky

  - var intro = {background: "map_blur1.jpg", text: "We are a&nbsp;mere e-mail away from starting something amazing together.", anchor: "#contact", hint: "Continue"}
  include section/_intro

  section.o-hero.o-hero--slim
    .o-fog
    .o-hero__background
      img.o-hero__image(src="assets/images/map_gradient1.jpg", alt="Little Greta Office Locations")

  include section/_contact--long

  section.l-section--dark
    include partial/_social

    .l-wrap.l-wrap--section
      .m-subscribe
        h3.m-subscribe__title.t-h3
          span.t-gradient--2 Stay Connected

        p.m-subscribe__text.t-lead We publish interesting stuff. Be part of it.

        include partial/_mailchimp.html

      - var exit = {current: "Contact", theme: "dark"}
      include partial/_exit
