extends templates/_site

block template-content
  .m-intro
    a.m-intro__logo(href="index.html")
      include ../svg/logo_symbol.svg
    h1.m-intro__text We are #[strong Little Greta], #[br]a multidisciplinary agency helping brands launch, relaunch and grow.
    nav.m-intro__nav
      each instance in pages
        a.m-intro__nav-link(href=instance.anchor)= instance.name

  .m-news
    each item in [1, 2, 3]
      a.m-news__item(href="javascript:")
        .m-news__overlay
          h2.m-news__title
            faker-name-title/
          strong.m-news__hint View Success Story
        img.m-news__image(data-src="http://source.unsplash.com/random/1920x1000?sig=" + item, data-lazy, alt="Placeholder")

  include section/_about--short
  include section/_portfolio
  
  footer.m-footer.l-section--dark
    include partial/_social
    include section/_contact--short
