extends templates/_site

block template-content
  +sticky("index")

  .m-intro.blur--blue
    a.m-intro__logo.o-logo--normal(href="index")
      include ../svg/logo_symbol.svg
    h1.m-intro__title We are #[strong Little Greta], #[br]a multidisciplinary agency helping brands launch, relaunch and grow.
    +introNav("index")

  .m-news
    each item in ["pMEGruJJ6Ko", "eHD8Y1Znfpk", "gz5T9K0joRQ"]
      a.m-news__item(href="javascript:")
        .m-news__overlay
          h2.m-news__title
            faker-name-title/
          strong.m-news__hint View Success Story
        img.m-news__image(data-src="http://source.unsplash.com/" + item + "/1920x1000", data-lazy, alt="Placeholder")

  +about("short")
  include section/_featured
  
  include partial/_social
  
  +footer
