extends templates/_site

block template-content
  +sticky("index")

  .m-intro.blur--blue
    a.m-intro__logo.o-logo--normal(href="index")
      include ../svg/logo_symbol.svg
    h1.m-intro__title We are #[strong Little Greta], <br>an award-winning agency helping brands launch, relaunch and grow.
    +introNav("index")

  .m-news
    .m-news__container
      each image, index in ["pMEGruJJ6Ko", "eHD8Y1Znfpk", "gz5T9K0joRQ"]
        +newsItem(image, index)

    .m-news__outro
      a.m-news__button(href="news-archive") View Older

  +about("short")
  include section/_featured
  
  .m-locations(data-inview="long")
    .m-locations__wrap
      h2.m-locations__title Get in Touch

      .m-locations__outro
        p We have offices in the UK, Germany, the USA, and the Czech Republic, where Little Greta originates and where much of our team and infrastructure remains.
        .m-locations__actions
          a.m-locations__button--primary(href="mailto:info@littlegreta.co.uk") Get in Touch
          a.m-locations__button--secondary(href="contact-us.html") Our Locations

  +footer("index")
