extends templates/_site

block template-content
  .m-intro.blur--blue
    a.m-intro__logo.o-logo--normal(href="index")
      include ../svg/logo_symbol.svg
    +introNav

  .m-news
    .m-news__wrap
      .m-news__grid
        each image in ["pw_Ube1_rhs", "jUwvjOmCTWc", "Qe_dS4-jO6E", "IF2MIzP2wXI", "Qe_dS4-jO6E", "HmREZuu4XuY", "asZvnGnpL7Q", "hqCEQTc5gZA"]
          +newsItem(image)
      .m-news__outro
        a.m-news__button.o-cta--light(href="javascript:") Load More

  +footer
