extends templates/_site

block template-content
  +sticky("our-work")

  .m-intro--green.blur--green
    a.m-intro__logo.o-logo--normal(href="index")
      include ../svg/logo_symbol.svg
      strong.o-logo__text Little Greta
    h1.m-intro__text Watch the highlight reel of our multimedia work or browse through some of our projects and clients.
    +introNav("our-work")

  section.o-hero--video
    .o-hero__body(data-inview="long")
      .o-hero__overlay(data-toggle="Video" data-play="vimeo")
        span.o-hero__play: include ../svg/shape-play.svg
      video.o-hero__poster(autoplay loop muted playsinline)
        source(src="assets/video/showreel-2018.mp4", type="video/mp4")
      iframe#vimeo.o-hero__video(src="https://player.vimeo.com/video/259061553" width="1280" height="544" frameborder="0" allowfullscreen)

  section.m-works
    .m-works__wrap
      .m-works__header
        h1.m-works__headline
          span.t-gradient--2(data-inview="short") Our Work
        p.m-works__intro(data-inview="short") Large. Small. Czech. Indian. American. Multinational&hellip; we have them all under our belt. Take a look below.

      .m-works__loop
        each item, index in ["pw_Ube1_rhs", "jUwvjOmCTWc", "Qe_dS4-jO6E", "asZvnGnpL7Q", "HmREZuu4XuY", "Oyf11MfUfE4", "Kx8DDqb6Wbw", "1IN9WyQp56A", "TGYQVFiYpWw", "YhJkERWHFnU", "IF2MIzP2wXI", "d3-rmjTcblc", "QouiCn7u6kw", "hqCEQTc5gZA", "pw_Ube1_rhs", "asZvnGnpL7Q", "HmREZuu4XuY", "video"]
          a.o-work(href="case-study", class=index < 6 ? "s-portfolio__item--large" : "s-portfolio__item", data-inview="normal")
            .o-work__holder
              if item == "video"
                video.o-work__video(autoplay muted loop)
                  source(src="http://techslides.com/demos/sample-videos/small.webm" type="video/webm")
                  source(src="http://techslides.com/demos/sample-videos/small.ogv" type="video/ogg")
                  source(src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4")
                  source(src="http://techslides.com/demos/sample-videos/small.3gp" type="video/3gp")
              else
                img.o-work__image(src="http://source.unsplash.com/" + item + "/16x10", data-src="http://source.unsplash.com/" + item + "/800x500", data-srcset="http://source.unsplash.com/" + item + "/800x500 800w, http://source.unsplash.com/" + item + "/1440x900 1440w", sizes="(min-width: 500px) 50vw, 100vw", alt="Portfolio image")
            .o-work__info
              strong.o-work__name
                faker-name-title/
              p.o-work__description
                +dummy(80, "chars")
                | &ensp;
              if index % 3 == 0
                mark.o-work__hint Visit Site
                  include ../svg/caret-right.svg
              else
                mark.o-work__hint Read Success Story
                  include ../svg/caret-right.svg

      a.m-works__button(href="javascript:") Load More Projects

  +footer("our-work")
