extends templates/_site

block template-content
  - var sticky = {current: "Our Work"}
  include partial/_sticky

  - var intro = {background: "top/photo3.jpg", text: "Our Work", anchor: "#featured", hint: "Continue"}
  include section/_intro

  section#featured.o-hero
    .o-fog

    .o-hero__overlay.l-wrap
      .o-hero__content
        h2.t-h2 Latest Work
        p.t-big
          +dummy(20, "text")
        a(href="case-study").o-button--text.o-button--big.ss-zoomin.right See Case Study

    .o-hero__background
      img.o-hero__image(src="http://unsplash.it/2880/1600/?image=201", alt="unsplash.it")

  main.m-works.l-section--dark
    .l-wrap.l-wrap--section

      .m-works__list(data-masonry)
        .o-sizer--column(data-column)
        .o-sizer--gutter(data-gutter)

        - var width, height = 450

        // Big
        - size = "big"
        - width = 800
        include partial/_thumbnail

        article.o-work(class="o-work--small", data-masonry-item, data-hover)
          img.o-work__image(src="assets/images/work/work_google.jpg", alt="unsplash.it")
          .o-work__overlay
            h4.t-h4 Google
            .o-work__more
              p: +dummy(15, "text")
        
        // Small
        - size = "small"
        - width = 390
        include partial/_thumbnail

        article.o-work(class="o-work--small", data-masonry-item, data-hover)
          img.o-work__image(src="assets/images/work/work_ibm.jpg", alt="unsplash.it")
          .o-work__overlay
            h4.t-h4 IBM
            .o-work__more
              p: +dummy(15, "text")

        include partial/_thumbnail

        // Medium
        - size = "medium"
        - width = 595
        include partial/_thumbnail
        include partial/_thumbnail

        // Small
        - size = "small"
        - width = 390
        include partial/_thumbnail
        include partial/_thumbnail
        include partial/_thumbnail
        include partial/_thumbnail

        // Big
        - size = "big"
        - width = 800
        include partial/_thumbnail

      - var exit = {current: "Our Work", theme: "dark"}
      include partial/_exit
