extends templates/_site

block template-content
  +sticky("our-work")

  .m-intro.blur--green
    a.m-intro__logo.o-logo--normal(href="index")
      include ../svg/logo_symbol.svg
      strong.o-logo__text Little Greta
    h1.m-intro__text Watch the highlight reel of our multimedia work or browse through some of our projects and clients.
    +introNav("our-work")

  section.o-hero
    a(href="http://player.vimeo.com/video/63424674?autoplay=1", data-featherlight="iframe").o-hero__overlay
      .o-hero__hint Watch Highlight Reel
    video.o-hero__video(autoplay, loop)
      source(src="assets/video/showreel-2016.webm", type="video/webm")

  section.m-portfolio
    .m-portfolio__wrap
      .m-portfolio__header
        h1.m-portfolio__title: span.t-gradient--2 Our Work
        p.m-portfolio__intro Large. Small. Czech. Indian. American. Multinational&hellip; we have them all under our belt. Take a look below.

      .m-portfolio__loop
        each item, index in ["pw_Ube1_rhs", "jUwvjOmCTWc", "Qe_dS4-jO6E", "asZvnGnpL7Q", "HmREZuu4XuY", "Oyf11MfUfE4", "Kx8DDqb6Wbw", "1IN9WyQp56A", "TGYQVFiYpWw", "YhJkERWHFnU", "IF2MIzP2wXI", "d3-rmjTcblc", "QouiCn7u6kw", "hqCEQTc5gZA", "sK06UNxxpGE"]
          a.m-portfolio__item.o-work(href="case-study", class=index < 4 ? "portfolio--large" : "portfolio--small")
            .o-work__holder
              img.o-work__image(src="http://source.unsplash.com/" + item + "/16x10", data-src="http://source.unsplash.com/" + item + "/1440x810", alt="Portfolio image")
            .o-work__info
              strong.o-work__name
                faker-name-title/
              p.o-work__description
                +dummy(80, "chars")
                | &emsp;
              if index % 3 == 0
                mark.o-work__hint Visit Site
                  include ../svg/caret-right.svg
              else
                mark.o-work__hint Read Success Story
                  include ../svg/caret-right.svg

        //- Without a(href)
        .m-portfolio__item.o-work(class="portfolio--small")
          .o-work__holder
            img.o-work__image(src="http://source.unsplash.com/DYROsn8AyDI/16x10", data-src="http://source.unsplash.com/DYROsn8AyDI/1440x810", alt="Portfolio image")
          .o-work__info
            strong.o-work__name
              faker-name-title/
            p.o-work__description
              +dummy(90, "chars")

      a.m-portfolio__button.o-cta--light(href="javascript:") Load More Projects

  +footer("short", "our-work")
